.event-hero {
  padding: 0;
  background: none;
  display: flex;
  align-items: center;
  overflow: hidden;

  &__may {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__dark {
    background-color: #000;
  }

  &__img {
    width: 100%;
  }
}

.may-banner {
  width: 70%;
  margin: 20rem -5rem 10rem auto;
  &__tedx {
    width: 40rem;
  }

  &__text {
    margin: 3rem 0;
    font-weight: 600;
  }

  &__vodafone {
    width: 9rem;
  }
}

.event-info {

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__content {
    padding: 0 3.6rem 3.6rem 3.6rem;
    flex: .65 1 50%;
    @include respond(tab-land) { flex: 1 0 100%; }
    @include respond(phone) { padding: 1rem 2.6rem; }
  }

  &__button {
    float: right;
  }

  &__iticket {
    flex: 1 1 40%;
    margin-left: 2rem;
    @include respond(tab-land) {
      flex: 0 1 80%;
      margin: 2rem 0;
    }
    @include respond(phone) { flex: 0 1 100%; }

    &-title {
      margin: 0;
      background: white;
      color: black;
      text-align: center;
      line-height: 2.5;
      @include respond(tab-land) {
        text-align: left;
        padding-left: 2rem;
      }
    }

  }
}

.schedule {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  padding-top: 4rem;

  @include respond(phone) { justify-content: center; }

  &__announcer {
    padding-bottom: 1%;
  }

  &__column {
    flex: 0 1 35%;
    @include respond(phone) { flex: 0 0 80%; }
  }

  h4 {
    font-size: 2.2rem;
    text-decoration-color: $brand-color;
  }

  &__row {
    font-size: 2rem;
    list-style: none;
    transition: all 200ms;

    &:hover {
      .schedule__link::after {
        width: 100%;
      }
    }
  }

  &__map-image {
    width: 100%;
  }

  &__link {
    display: inline-block;

    &::after {
      content: '';
      width: 0px;
      height: 2px;
      display: block;
      background: $brand-color;
      transition: 300ms;
    }
  }
}

.flickr_gallery {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.see-more-images {
  padding-top: 3%;
  color: rgb(234, 33, 45)
}

.flickr-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
