.events-summary {
  display: flex;
  justify-content: flex-end;
  color: lighten($brand-grey-darker, 70%);
  line-height: 1.2;
  text-align: right;

  @include respond(phone) {
    flex-wrap: wrap;
  }

  &__heading {
    flex-grow: 2;
    text-align: left;
    color: lighten($brand-grey-darker, 20%);
  }

  &__upcoming {
    border-right: 2px solid $brand-grey;
    padding-right: 3.6rem;
    text-transform: uppercase;
  }

  &__past {
    text-transform: uppercase;
  }

  & > * {
    margin: 0 1.8rem;

    @include respond(phone) {
      margin: 1.8rem 8%;
      padding: 0;
      border: none;
      flex: 1 1 100%;
    }
  }

}

.event-info-link {
  color: inherit;
}

.event-info {
  text-transform: none;
  font-family: $secondary-font;
  margin-bottom: 1.3rem;
  transition: all 0.2s;

  &:hover {

    .event-info__top:after {
      width: 100%;
    }
  }

  &__top {
    font-weight: bold;

    &:after {
      content: '';
      width: 0px;
      height: 2px;
      display: block;
      background: $brand-color;
      transition: 300ms;
    }
  }

  &__bottom{
    color: lighten($brand-grey-darker, 40%);
  }
}

.upcoming-events {

  &__heading {
  }
}
