.event-hero {
  padding: 0;
  background: none;
  max-height: 66.6rem;
  display: flex;
  align-items: center;
  overflow: hidden;

  &__img {
    width: 100%;
  }
}

.event-content {
  padding: 0 3.6rem;
  line-height: 1.6;

  h1, h2, h3, h4, h5 {
    line-height: 1;
    margin: 0.5em 2em 0.5em 0;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2.5em;
  }

  h3 {
    font-size: 2em;
  }

  h4 {
    font-size: 1.5em;
  }

  h5 {
    font-size: 1em;
  }
}

.section-heading__flickr {
  transform: translate(-0.74em, 0.235em);
}

.flickr_gallery {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.see-more-images {
  padding-top: 3%;
  color: rgb(234, 33, 45)
}

.flickr-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
