.event-hero {
  padding: 0;
  background: none;
  display: flex;
  align-items: center;
  overflow: hidden;

  &__img {
    width: 100%;
  }
}

.event-info {

  &__container {
    display: flex;
    flex-wrap: wrap;
    @include respond(tab-land) {
      justify-content: center;
    }
  }

  &__content {
    padding: 0 3.6rem 3.6rem 3.6rem;
    line-height: 1.6;
    background-color: $brand-white;
    color: #000;
    flex: 1 1 50%;
    @include respond(tab-land) { flex: 1 0 100%; }
    @include respond(phone) { padding: 1rem 2.6rem; }

    h1, h2, h3, h4, h5 {
      line-height: 1.2;
      margin: 1em 0;
    }

    h1 {
      font-size: 3.5rem;
    }

    h2 {
      font-size: 2.5rem;
    }

    h3 {
      font-size: 2rem;
    }

    h4 {
      font-size: 1.6rem;
    }

    h5 {
      font-size: 1.6rem;
    }

    img {
      width: 100%;
      height: auto;
      margin: 3rem 0;
      padding: 0 3rem;
      @include respond(phone) {
        margin: 2rem 0;
        padding: 0;
      }
    }
  }

  &__iticket {
    flex: 1 1 40%;
    margin-left: 2rem;
    @include respond(tab-land) {
      flex: 0 1 80%;
      margin: 2rem 0;
    }
    @include respond(phone) { flex: 0 1 100%; }

    &-title {
      margin: 0;
      background: white;
      color: black;
      text-align: center;
      line-height: 2.5;
      @include respond(tab-land) {
        text-align: left;
        padding-left: 2rem;
      }
    }

  }
}

// * {
//   box-sizing: border-box;
// }
//
// .container {
//   position: relative;
// }
//
// .image-gallery-slide {
//   display: none;
// }
//
// .cursor {
//   cursor: pointer;
// }
//
// .prev,
// .next {
//   cursor: pointer;
//   position: absolute;
//   top: 40%;
//   width: auto;
//   padding: 16px;
//   margin-top: -50px;
//   color: white;
//   font-weight: bold;
//   font-size: 20px;
//   border-radius: 0 3px 3px 0;
//   user-select: none;
//   -webkit-user-select: none;
// }
//
// .next {
//   right: 0;
//   border-radius: 3px 0 0 3px;
// }
//
// .prev:hover,
// .next:hover {
//   background-color: rgba(0, 0, 0, 0.8);
// }
//
// .active,
// .demo:hover {
//   opacity: 1;
// }
