.events-list-hero {
  padding-top: 2rem;
}

.events-list-container {
  display: flex;
}

.events-list {
  display: flex;
  justify-content: flex-end;
  color: lighten($brand-grey-darker, 70%);
  line-height: 1.2;
  text-align: right;
  flex: 1 0 auto;

  @include respond(phone) {
    flex-wrap: wrap;
  }

  &__upcoming,
  &__past {
    background-color: white;
    padding: 4rem;
    margin: 0 1.8rem;
  }

  &__upcoming {
    border-right: 2px solid $brand-grey;
    padding-right: 3.6rem;
    text-transform: uppercase;
  }

  &__past {
    text-transform: uppercase;
    padding: 1rem;
    font-size: 1.8rem;
    margin: 0 auto;
  }
  &__wrapper {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    @include respond(phone) {
      flex-direction: column;
    }
    .event-info {
      &__link {
        border-left: 0.5rem solid #ed3624;
        padding: 1rem;
      }
    }
  }
}

.event-info {
  text-transform: none;
  font-family: $secondary-font;
  margin-bottom: 1.3rem;
  transition: all 0.2s;

  &:hover {
    .event-info__top:after {
      width: 100%;
    }
  }

  &__link {
    color: inherit;
    flex-grow: 1;
  }

  &__top {
    font-weight: bold;
    color: $brand-color;

    &:after {
      content: '';
      width: 0px;
      height: 2px;
      display: block;
      background: $brand-color;
      transition: 300ms;
    }
  }

  &__bottom {
    color: lighten($brand-grey-darker, 40%);
  }
}

// .all-events {
//   &__container {
//     display: flex;
//     justify-content: center;
//     flex-direction: column;
//   }
//
//   &__title {
//
//   }
//   &__list {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;
//
//     &--item {
//       font-size: 2.5rem;
//       padding: 1rem 4rem;
//       margin: 1rem;
//       background-color: lighten($brand-grey, 10);
//       color: $brand-color;
//       font-weight: 800;
//       border-radius: 1rem;
//       font-family: $secondary-font;
//       transition: all 0.2s;
//
//       &:hover {
//         background-color: lighten($brand-grey, 20);
//       }
//     }
//   }
// }
