.links-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
}

.link-card {
	position: relative;
	background-color: $brand-white;
	width: 31.33%;
	margin: 0 1%;
	margin-bottom: 2rem;

	@include respond(tab-port) {
		width: 46%;
		margin: 2rem 2%;
	  }
}

.link-block {
	display: flex;
	flex-direction: row;
	padding: 10px;
	background: $brand-color;
	border: 2px solid $brand-color;
	border-radius: 4px;
	margin: 10px 0px;
}

.link-img {
	width: 70px;
	height: 70px;
	float: left;
	margin: 10px;
}

.link-button {
	padding: 12px;
	text-decoration: none;
	font-size: 1.5rem;
	font-weight: 400;
	cursor: pointer;
	text-align: center;
	color: $brand-white;
	flex-grow: 2;
}

#links {
	min-height: 200px;
}