.extra-padding {
  margin: 0;
  @include respond(tab-land) { margin: 0 4rem; }
}

.blog-header {
  background: #ededed;
  padding: 3.6rem 0;
  text-shadow: none;
  color: black;

  &__title {
    text-transform: uppercase;
    font-size: 6.3rem;
    margin: 1.8rem 0;
    line-height: 1;
    font-weight: 600;
    transform: translateX(-0.7rem);
  }

  &__paragraph {
    font-style: italic;
    font-size: 1.8rem;
    max-width: 60%;
    font-weight: 600;
    line-height: 1.6;
  }
}

.highlight-section {
  padding-bottom: 27rem;
}

.highlight-heading {
  text-transform: uppercase;
  background-color: $brand-color;
  color: $brand-white;
  display: inline-block;
  font-size: 1.8rem;
  padding: 0.5em 0.7em;
  margin: 0;
  margin-bottom: 1.8rem;
}

.highlight-info {

  &__title {
    margin-top: 0;

    a {
      color: #000;
    }
  }

  &__bar {
    font-family: $secondary-font;
  }
}

.highlight-content {
  iframe {
    width: 54rem;
    height: 30rem;
    margin: 2rem;
    display: block;
    margin: auto;

    @include respond(phone) {
      width: 30rem;
      height: 16rem;
      margin: 1rem o;
    }
  }
}

.news-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  transform: translateY(-25.2rem);

  &--archive {
    transform: translateY(0);
  }
}

.news-card {
  position: relative;
  font-family: $primary-font;
  color: #000;
  background-color: $brand-white;
  width: 31.33%;
  margin: 0 1%;
  margin-bottom: 1.8rem;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.20);

  transition: all 0.2s;

  @include respond(tab-port) {
    width: 46%;
    margin: 2rem 2%;
  }

  @include respond(phone) {
    width: 100%;
    margin: 2.4rem 4rem;
  }

  &:hover {
    transform: translateY(-1.8rem);
    box-shadow: 0 1.8rem 2.2rem rgba(#000000, 0.70);
  }

  &__image {
    width: 100%;
    height: auto;
  }

  a {
    color: inherit;
  }

  &__content {
    margin: 1.8rem;

    h4 {
      margin: 0;
      line-height: 1.4;
      font-size: 2.2rem;
    }
  }
}
