.blog-header {
  background: #ededed;
  padding: 3.6rem 0;
  text-shadow: none;
  color: black;

  &__title {
    text-transform: uppercase;
    font-size: 6.3rem;
    margin: 1.8rem 0;
    line-height: 1;
    font-weight: 600;
    transform: translateX(-0.7rem);
  }

  &__paragraph {
    font-style: italic;
    font-size: 1.8rem;
    max-width: 60%;
    font-weight: 600;
    line-height: 1.6;
  }
}

.highlight-section {
  padding-bottom: 27rem;
}

.highlight-heading {
  text-transform: uppercase;
  background-color: $brand-color;
  color: $brand-white;
  display: inline-block;
  font-size: 1.8rem;
  padding: 0.5em 0.7em;
  margin: 0;
  margin-bottom: 1.8rem;
}

.highlight-info {

  &__title {
    margin-top: 0;

    a {
      color: #000;
    }
  }

  &__bar {
    font-family: $secondary-font;
  }

}

$number-of-columns: 3;
$card-margin: 9px;
$card-size: $site-width / $number-of-columns - (2 * $card-margin);

.news-card-container {
  align-items: flex-start;
  transform: translateY(-25.2rem);

  &--archive {
    transform: translateY(0);
  }
}

.news-card {
  max-width: $card-size;
  width: 100%;
  margin: $card-margin;
  background-color: $brand-white;
  color: #000;
  font-family: $primary-font;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.20);

  &:hover {
    transform: translateY(-1.8rem);
    box-shadow: 0 1.8rem 2.2rem rgba(#000000, 0.70);
  }

  img {
    max-width: $card-size;
    height: auto;
  }

  a {
    color: inherit;
  }

  &__content {
    margin: 1.8rem;

    h4 {
      margin: 0;
      line-height: 1.4;
      font-size: 2.2rem;
    }
  }
}
