.person {
  display: flex;
  flex-wrap: wrap;
  @include respond(tab-land) { padding: 0 2rem; }
  @include respond(phone) { padding: 0 1rem; }

  &__left {
    flex: 1 0 30%;
    @include respond(phone) {
      flex: 1 0 100%;
    }
  }

  &__right{
    flex: 1 0 70%;
    padding-left: 6rem;
    @include respond(phone) { padding: 0; }
  }

  &__title {
    display: flex;
    line-height: 1;
    font-size: 3rem;
    font-weight: 700;
    @include respond(tab-land) { padding: 0 2rem; }
    @include respond(phone) { padding: 0 1rem; }

    &::before {
      content: "";
      background-color: $brand-color;
      margin-right: 1.5rem;
      width: 1rem;
    }
  }

  &__image {
    width: 100%;
    margin: 2rem 0;
  }
}

.person-content {
  font-weight: 500;
  @include respond(phone) {
    background-color: white;
    color: black;
    padding: 1rem 2rem 4rem 2rem;
    margin: 2rem -2rem;
  }

  &__title {
    color: $brand-color;
  }

  &__video {
    position: relative;
    padding-bottom: 50%;
    padding-top: 2.5rem;
    height: 0;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
