.post-container {

  img {
    width: 100%;
    height: auto;
  }
}

.post-metadata {
  display: flex;
  border-bottom: 2px solid red;
  margin-bottom: 2em;
  margin-top: 1em;
  font-weight: bold;

  .author {
    float: left;
  }

  .post-date {
    margin-left: auto;
    justify-content: flex-end;
  }
}

.post-content {
  p {
    line-height: 2;
    padding: 1em;
  }

  ul {
    padding: 0.5em;
    list-style: none;
  }

  iframe {
    display: block;
    margin: auto;
  }
}


.post-navigation {
  display: flex;
  justify-content: space-around;
  margin-top: 3.6rem;
}
