.post-hero {
	margin: 0 auto;
	max-width: 1800px;
  display: flex;

  @media only screen and (max-width: 112.5em) {
    max-width: unset;
    width: 100%;
  }; // 1800px

  @include respond(tab-land) {
    flex-flow: wrap;
  }

  &__text {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    color: #000;
    justify-content: center;
    padding: 0 8rem;

    @include respond(tab-land) {
      flex: 0 0 100%;
      order: 1;
      margin: 7rem 0 2rem 0;
    }

    @include respond(phone) {
      padding: 0 4rem;
      margin: 3rem 0 2rem 0;
    }
  }

  &__image {
    flex: 0 0 50%;
    padding-right: 3rem;

    @include respond(tab-land) {
      flex: 0 0 100%;
      padding: 0;
      height: 35vh;
    }

    img {
      width: 100%;
      height: auto;
      @include respond(tab-land) { height: 100%; }
    }

		&-caption {
			color: lighten($brand-grey, 20);
			font-size: 1.3rem;
			font-weight: 500;
		}
  }
}

.post-metadata {
  display: flex;
  border-bottom: 2px solid red;
  margin: 2rem;
  font-weight: bold;
  font-size: 1.6rem;

  .author {
    float: left;
  }

  .post-date {
    margin-left: auto;
    justify-content: flex-end;
  }
}

.post-content {
  width: 66rem;
  margin: 7rem auto;

  @include respond(phone) {
    width: unset;
    margin: 0 2rem;
  }

  h1, h2, h3, h4, h5, h6 {
    line-height: 1.3;
    margin: .6em 0 .5em 0;
  }

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 3.6rem;
  }

  h3 {
    font-size: 3rem;
  }

  h4 {
    font-size: 2.5rem;
  }

  h5 {
    font-size: 2rem;
  }

  h6 {
    font-size: 2rem;
    font-weight: 600;
  }

  blockquote {
    display: flex;
    font-weight: 600;

    &::before {
      content: "";
      width: 2rem;
      background-color: $brand-grey-darker;
      transform: translateX(-1rem);
    }
  }

  p {
    line-height: 2;
    padding: 1em;
  }

  strong {
    color: black;
  }

  ul {
    padding: 0.5em;
    list-style: none;
  }

  li {
    p {
      padding-top: 0;
      padding-bottom: .5rem;
    }
  }

  iframe {
    display: block;
    margin: auto;
    max-width: 100%;
    height: 37rem;

    @include respond(phone) {
      height: 52vw;
    }
  }

  img {
    display: block;
    max-width: 100%;

    margin: 0 auto;
  }
}

.post-navigation {
  display: flex;
  justify-content: space-around;
  margin-top: 3.6rem;
}
