.section-heading__post {
  font-size: 4rem;
}

.post-container {


  img {
    width: 100%;
    height: auto;
  }
}

.post-navigation {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}
