.hero__talks {
  background-position: top;
}

.talks-filter-container {
  height: 300px;
  display: flex;
  align-items: center;
}

.talks-filter {
  display: flex;
  justify-content: flex-start;
  height: 18rem;

  &__title {
    font-size: 7.2rem;
    margin-right: 5.4rem;
    margin-bottom: 0;
  }

}

.filter-tags {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 0.9rem solid $brand-color;
  padding-left: 5.4rem;
  margin: 0;
  height: 100%;

  &__title {
    margin: 0;
    font-size: 1.8rem;
    text-transform: uppercase;
    line-height: 1.8rem;
    letter-spacing: 0.2rem;
    font-weight: 400;
  }

  &__tags {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    height: 12.6rem;
    list-style-type: none;
    padding: 0;
    margin: 0;

  }

  &__tag {
    a {
      color: lighten($brand-grey, 70%);
    }
    font-family: $secondary-font;
    padding: 0.9rem 1.8rem;
    margin: 0.9rem 1.1rem 0 0;
    border-radius: 0.5rem;
    background-color: lighten($brand-grey, 20%);

    transition: all 0.2s;

    &:hover {
      color: #fff;
      transform: translateY(-0.2rem);
      background-color: $brand-grey;
      box-shadow: 0 1.8rem 3.6rem rgba(0,0,0,0.2);

    }
  }
}
