.hero__talks {
  background-position: top;
}

#filter-tags {
  min-height: auto;
}

.talks-filter-container {
  display: flex;

  @include respond(phone) {
    align-items: flex-start;
  }
}

.talks-filter {
  display: flex;
  justify-content: flex-start;
  margin: 4rem 0;

  @include respond(phone) {
    flex-wrap: wrap;
    margin: 3rem;
  }

  &__title {
    font-size: 7.2rem;
    line-height: 1;
    padding-right: 5.4rem;
    margin-bottom: 3.5rem;
    font-weight: 400;

    @include respond(phone) {
      margin: 0;
      margin-bottom: 2rem;
    }
  }
}

.filter-tags {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding-left: 5.4rem;
  border-left: 0.9rem solid $brand-color;

  @include respond(phone) {
    padding-left: 3rem;
  }

  &__title {
    font-size: 1.8rem;
    text-transform: uppercase;
    line-height: 1.8rem;
    letter-spacing: 0.2rem;
    font-weight: 400;
    margin: 0;
    margin-bottom: 1rem;
  }

  &__tags {
    font-size: 1.8rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;

    @include respond(phone) {
      font-size: 1.6rem;
    }
  }

  &__tag {
    a {
      color: lighten($brand-grey, 70%);
    }
    font-family: $secondary-font;
    padding: 0.5em 1em;
    margin: 0.5em .5em 0 0;
    border-radius: 0.5rem;
    background-color: lighten($brand-grey, 20%);

    transition: all 0.2s;

    &:hover {
      color: $brand-white;
      transform: translateY(-0.2rem);
      background-color: $brand-grey;
      box-shadow: 0 1.8rem 3.6rem rgba(0,0,0,0.2);
    }
  }
}
