.about-container {
	display: flex;
	flex-wrap: wrap;

	.about-details,
	.about-social {
		flex: 1 1 400px;
		margin: 20px;
	}
}


.about-social {

	&__mailchimp {
			display: flex;
			justify-content: center;
			margin-top: 5.4rem;

		.mailchimp-signup {
			width: 500px;
		}
	}


	&__facebook {
		display: flex;
		justify-content: center;
		margin-top: 5.4rem;

		.fb-page {
			width: 500px;
		}
	}
}
