.about-container {
	display: flex;
	flex-wrap: wrap;

	.about-details,
	.about-social {
		flex: 1 1 400px;
		margin: 20px;
	}
}


.about-social {

	&__mailchimp {
			display: flex;
			justify-content: center;
			margin-top: 5.4rem;

		.mailchimp-signup {
			width: 500px;

			input {
				border: 2px solid $brand-color;
			}
		}
	}


	&__facebook {
		display: flex;
		justify-content: center;
		margin-top: 5.4rem;

		.fb-page {
			width: 500px;
		}
	}
}

.center-form {
  width: 98%;
  margin: 0 auto;
  max-width: 550px;
}

.with-padding {
	padding-top: 50px;
}

.highlight {
	color: red;
}
