footer {
	background: #111;
	padding: 50px 10px;

	.container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.logos {
		width: 300px;
		margin: 0;
		line-height: 0;
	}

	ul {
		margin: 0;
		padding: 0;
		display: flex;

		li {
			display: flex;
			align-items: center;
			margin: 0 10px;
		}

		a {
			display: block;
			padding: 10px;
			background: $brand-white;
			border-radius: 4px;
			line-height: 0;
			transform: translateZ(0);

			opacity: 0.9;
			transition: opacity ease 200ms;

			&:active,
			&:hover {
				opacity: 1;
			}
		}
	}
}