header {
	background: grey url(/assets/images/hero/hero-slider-1.jpg) right center;
	background-size: cover;
	color: $brand-white;
	padding: 12rem 0;
	text-shadow: 1px 1px 10px #000;
}

.header {
	&__title {
		transform: translateY(4rem);
		font-size: 6rem;
	}
}
