nav {
	background: #111;
	padding: 20px 0;

	.container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	h1 {
		width: 300px;
		margin: 0;
		line-height: 0;

		a {
			padding: 20px 10px;
		}
	}

	ul {
		margin: 0;
		padding: 0;
		display: flex;
	}

	li {
		display: flex;
		align-items: center;
	}

	a {
		display: block;
		padding: 20px 20px;
		text-transform: uppercase;

		font-weight: bold;
		color: #fff;
		text-decoration: none;
	}

	.button {
		margin-left: 10px;
	}
}