.nav-bar {
	background-color: $brand-white;
	padding: 20px 0;

	&__hamburger-icon {
		display: none;
		font-size: 2.7em;
		line-height: 0;

		@include respond(phone) {
			float: right;
			display: block;
		}
	}

	&__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;

		@media only screen and (max-width: 46.87em) {
			justify-content: space-evenly;
		}

		@include respond(phone) {
			align-content: space-between;
			height: auto;
		}

		@media only screen and (max-width: 21.87em) {
			justify-content: center;
		}
	}

	&__brand {
		flex: 0 1 26rem;
		margin: 1.3rem 2.5rem 0 0;

		@include respond(phone) {
			flex: 0 0 55%;
			margin: 1.3rem 0 2rem 0;
		}

		@media only screen and (max-width: 21.87em) {
			flex: 0 1 70%;
		}

	}

	&__image {
		width: 100%;
		height: auto;
	}

	&__links {
		flex: 1 0 48%;

		@media only screen and (max-width: 46.87em) {
			order: 1;
			flex: 1 0 100%;
		}

		@include respond(phone) {
			margin: 2rem 0;
		}
	}

	&__buy-tickets {
		margin-right: 2rem;

		@media only screen and (max-width: 46.87em) {
			margin: 0;
		}

		@media only screen and (max-width: 21.87em) {
			flex: 0 1 auto;
		}
	}
}

.nav-links {
	@include respond(phone) {
		display: none;

		&.show-mobile-nav {
			display: inline;
		}
	}

	margin: 0;
	padding: 0;
	display: inline-flex;
	justify-content: space-evenly;
	width: 100%;
}

.nav-link {
	display: flex;
	align-items: center;
	transition: all 0.2s;

	@include respond(phone) {
		justify-content: space-around;
		padding: 1em;
	}

	&__text {
		@include respond(phone) {
			display: inline-block;
			font-size: 2em;
		}

		display: block;
		text-transform: uppercase;
		line-height: 1.8rem;
		font-weight: 600;
		color: #000;

		&--sub {
			color: darken($brand-white, 40%);
			font-size: 1.4rem;
		}
	}

	&:hover {
		transform: scale(1.1);
		transform-origin: bottom left;
	}

	&__button {
		&:hover {
			transform: none;
		}
	}

	&--active {
		@include respond(phone) {
			border-top: none;
			margin-top: 0
		}

		border-top: 3px solid $brand-color;
		margin-top: 1.8rem;
		padding-top: 0.9rem;

		&:hover {
			transform: scale(1);
		}
	}
}

.button__nav {
	font-weight: bold;
	padding: 0.6em 1em 0.4em 1em;
	border: none;
}

nav {

	h1 {
		width: 300px;
		margin: 0;
		line-height: 0;

		a {
			padding: 20px 10px;
		}
	}

}
