.nav-bar {
	background: #111;
	padding: 20px 0;

	&__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		height: 10.8rem;

		@include respond(phone) {
			justify-content: center;
			align-content: space-between;
			height: auto;
		}
	}

	&__brand {
		flex: 0 1 26rem;
		margin: 2rem 1rem 0 1.5rem;
		order: 1;

		@include respond(phone) {
			flex: 0 0 55%;
			margin: 2rem 0;
		}

	}

	&__image {
		width: 100%;
		height: auto;
	}

	&__links {
		flex: 1 0 48%;
		order: 3;

		@include respond(phone) {
			margin: 2rem 0;
		}
	}

	&__buy-tickets {
		margin-right: 2rem;
		order: 5;

		// @include respond(tab-port) {
		// 	order: 2;
		// }

	}
}

.nav-links {
	margin: 0;
	padding: 0;
	display: inline-flex;
	justify-content: space-evenly;
	width: 100%;
}

.nav-link {
	display: flex;
	align-items: center;
	transition: all 0.2s;

	&__text {
		display: block;
		text-transform: uppercase;
		line-height: 1.8rem;
		font-weight: bold;
		color: $brand-white;

		&--sub {
			color: darken($brand-white, 40%);
			font-size: 1.4rem;
		}
	}

	&:hover {
		transform: scale(1.1);
		transform-origin: bottom left;
	}

	&__button {
		&:hover {
			transform: none;
		}
	}

	&--active {
		border-top: 3px solid $brand-color;
		margin-top: 1.8rem;
		padding-top: 0.9rem;

			&:hover {
				transform: scale(1);
			}

	}
}

.button__nav {
	font-weight: bold;
	padding: 0.6em 1em 0.4em 1em;
	border: none;
}

nav {

	h1 {
		width: 300px;
		margin: 0;
		line-height: 0;

		a {
			padding: 20px 10px;
		}
	}

}
