.partner-heading {
  color: $brand-grey-darker;
  font-size: 3rem;
  margin-left: 1rem;
}

.partners {
	display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  &--major {
    justify-content: center;
  }
}

.partner-card {
  position: relative;
  background-color: inherit;
  color: #000;
  font-family: $primary-font;
  height: auto;
  margin-bottom: 1.8rem;
  padding: 1.8rem;
  line-height: 1.3;
  width: 12.5%;
  @include respond(tab-land) { width: 14.28%; }
  @include respond(tab-port) { width: 20%; }
  @include respond(phone) { width: 33.33%; }
  transition: all 0.2s;

  &:hover {
    transform: scale(1.2);
  }

  &--major,
  &--supporting {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &:hover {
      @include respond(tab-land) { transform: scale(1.05); }
    }
  }

  &--major {
    width: 85%;
    @include respond(tab-land) { width: 90%; }
    @include respond(tab-port) { width: 100%; }
    @include respond(phone) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &--supporting {
    width: 33.33%;
    @include respond(tab-port) { width: 50%; }
    @include respond(phone) { width: 100%; }
  }

  &__image {
    height: 100%;
    width: 100%;
    height: auto;

    &--major {
      flex: 0 1 30%;
      @include respond(tab-port) { flex: 0 1 35%; }
      @include respond(phone) { flex: 0 0 60%; }
    }

    &--supporting {
      flex: 0 1 36.5%;
      @include respond(phone) { flex: 0 1 35%; }
    }
  }

  &__paragraph {
    &--major {
      flex: 1 0 50%;
      margin: 3em;
      // font-size: 0.9em;
      font-size: 1.6rem;
      line-height: 1.7;

      @include respond(phone) {
        flex: 1 0 100%;
        margin: 0;
        margin-top: 3rem;
        padding: 0 1rem;
        // font-size: 1.6rem;
        // line-height: 1.7;
      }
    }

    &--supporting {
      flex: 1 0 35%;
      margin: 2.6em;
      font-size: 1.4rem;
    }
  }
}
