.speakers {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.speaker-card {
  background-color: $brand-grey-darker;
  font-family: $secondary-font;
  position: relative;
  width: 25%;
  line-height: 0;
  border: 1px solid #000;
  filter: grayscale(100%);
  margin: 0;
  transition: all 0.2s;

  @include respond(tab-port) {
    width: 33.33%;
  }

  @include respond(phone) {
    width: 50%;
  }

  &__link {
    color: inherit;
  }

  &:hover {
    filter: grayscale(0%);
  }

  &:hover &__caption {
    background-color: $brand-color;
  }

  &__image {
    width: 100%;
    height: auto;
  }

  &__caption {
    background-color: rgba(19,19,19,0.6);
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: all 0.2s;
    height: 5.4rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.2;
    padding: 0.9rem 40% 0.9rem 1.8rem;
    display: flex;
    align-items: center;
  }
}
