.section-heading__speakers {
  transform: translate(-0.74em, 0.235em);
}

.speakers {
}

$number-of-columns: 4;
$card-size: $site-width / $number-of-columns;

.speaker-card {
  width: $card-size;
  height: $card-size;
  border: 1px solid #000;
  background-size: cover;
  filter: grayscale(100%);
  margin: 0;

  &:hover {
    filter: grayscale(0%);

    .speaker-card-caption {
      background-color: $brand-color;
    }
  }

  &__image {
    transition: all 0.2s;
  }
}

.speaker-card-caption {
  background-color: rgba(19,19,19,0.6);
  position: absolute;
  bottom: 0;
  width: 100%;
  transition: all 0.2s;
  height: 3rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 1.2;
  padding: 0.5rem 40% 0.5rem 1rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
