.section-heading__talks {
  transform: translate(-0.7em, 0.235em);
}

.talks {
}

.talk-link {
  color: inherit;
}

.talk {
  border: 1px solid #000;
  width: 400px;
  z-index: 100;

  &__image {
    height: 12.8rem;
  }

  &:hover {
    transform: translateY(-0.5rem);

    .talk__play-button {
      background: red;
    }
  }
}

.talk__play-button {
  background-color: rgba(0, 0, 0, 0.5);
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 9.3rem;
  left: 0.5rem;

  transition: all 0.2s;

  &::after {
    content: '';
    background-color: #fff;
    height: 0.8rem;
    width: 0.8rem;
    display: block;
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
    clip-path: polygon(0 0, 100% 50%, 0 100%);
  }

}

.caption {
  display: flex;
  height: 2.5em;
  margin-top: 0.2em;

  transition: all 0.4s;

  &::before {
    content: "";
    display: block;
    border-left: 3px solid $brand-color;
    height: 2em;
    margin: -0.2em 0.5em 0.1em 0.5em;
  }

  &__title {
    margin: 0;
    font-size: 0.7em;
    font-weight: bold;
    line-height: 1.2em;
    height: 2.4em;
    padding-right: 1.5em;
  }

  &__tags {
    font-size: 0.5em;
    color: lighten($brand-grey, 70%);
    list-style-type: none;
    width: 45%;
    margin: 0 0.5em 1em 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

.tag {
  font-size: 1.2em;
  height: 1.6em;
  padding: 0.2em 0.4em;
  margin: 0.2em;
  border-radius: 0.3em;
  background-color: $brand-grey;
}
