.talk-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.talk-card {
  position: relative;
  background-color: $brand-white;
  color: #000;
  font-family: $primary-font;
  border: 1px solid #000;
  flex: 0 1 33%;
  z-index: 100;
  background-color: $brand-grey-darker;
  margin: 0 .1rem .5rem .1rem;

  transition: all 0.2s;

  @include respond(tab-port) {
    flex: 0 1 49%;
  }

  @include respond(phone) {
    flex: 1 1 100%;
    margin: 2rem 10%;
  }

  &__link {
    color: inherit;
  }

  &__play-button {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    width: 5.4rem;
    height: 5.4rem;
    position: absolute;
    top: 20.5rem;
    left: 0.9rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.2s;

    &::after {
      content: '';
      background-color: $brand-white;
      height: 1.4rem;
      width: 1.4rem;
      margin-right: .8rem;
      clip-path: polygon(0 0, 100% 50%, 0 100%);
    }
  }

  &__image {
    height: 26.7rem;
    width: 100%;
    object-fit: cover;

    @include respond(tab-port) {
      height: 34.7rem;
    }
  }

  &:hover {
    transform: translateY(-0.4rem);
  }

  &:hover &__play-button {
    background: $brand-color;
  }
}

.caption {
  display: flex;
  height: 2.5em;
  margin-top: 0.2em;
  margin-bottom: 1.7rem;

  transition: all 0.4s;

  &::before {
    content: "";
    display: block;
    border-left: 3px solid $brand-color;
    height: 2em;
    margin: -0.2em 0.5em 0.1em 0.5em;
  }

  &__title {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.4em;
    height: 2.4em;
    padding-right: 1.5em;
    color: $brand-white;
  }
}

.overlay-video {
  display: none;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  -ms-transition: opacity 600ms ease-in;
  transition: opacity 600ms ease-in;
  -ms-transition: opacity .6s;
  transition: opacity .6s;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .7);
  z-index: 999999;
}

.o1 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
  -ms-transition: opacity 600ms ease-out;
  transition: opacity 600ms ease-out;
  -ms-transition: opacity .6s;
  transition: opacity .6s;
}

.videoWrapperExt {
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 982px;
  padding: 0 20px;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.start {
  cursor:pointer;
}
