.section-heading__talks {
  transform: translate(-0.7em, 0.235em);

  @include respond(tab-land) {
    transform: translate(0.3em, 0.235em);
  }
}

.talk-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}


.talk-card {
  position: relative;
  background-color: $brand-grey-darker;
  font-family: $secondary-font;
  box-sizing: border-box;
  border: 1px solid #000;
  flex: 1 1 33.33%;
  z-index: 100;

  transition: all 0.2s;

  @include respond(tab-port) {
    flex: 1 1 46%;
    margin: 0 2%;
  }

  @include respond(phone) {
    flex: 1 1 100%;
    margin: 2rem 10%;
  }

  &__link {
    color: inherit;
  }

  &__play-button {
    background-color: rgba(0, 0, 0, 0.5);
    width: 5.4rem;
    height: 5.4rem;
    position: absolute;
    top: 16.7rem;
    left: 0.9rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.2s;

    &::after {
      content: '';
      background-color: $brand-white;
      height: 1.4rem;
      width: 1.4rem;
      margin-right: .8rem;
      clip-path: polygon(0 0, 100% 50%, 0 100%);
    }
  }

  &__image {
    height: 23rem;
    width: 100%;
    object-fit: cover;
  }

  &:hover {
    transform: translateY(-0.9rem);
  }

  &:hover &__play-button {
    background: $brand-color;
  }
}

.caption {
  display: flex;
  height: 2.5em;
  margin-top: 0.2em;

  transition: all 0.4s;

  &::before {
    content: "";
    display: block;
    border-left: 3px solid $brand-color;
    height: 2em;
    margin: -0.2em 0.5em 0.1em 0.5em;
  }

  &__title {
    margin: 0;
    font-size: 0.7em;
    font-weight: bold;
    line-height: 1.2em;
    height: 2.4em;
    padding-right: 1.5em;
  }
}
