.talk-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.talk-card {
  position: relative;
  background-color: $brand-white;
  color: #000;
  font-family: $primary-font;
  border: 1px solid #000;
  flex: 0 1 33%;
  z-index: 100;
  background-color: $brand-grey-darker;
  margin: 0 .1rem .5rem .1rem;

  transition: all 0.2s;

  @include respond(tab-port) {
    flex: 0 1 49%;
  }

  @include respond(phone) {
    flex: 1 1 100%;
    margin: 1rem 1rem 0 1rem;
  }

  &__link {
    color: inherit;
  }

  &__play-button {
    cursor: pointer;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    width: 5.4rem;
    height: 5.4rem;
    position: absolute;
    bottom: 1rem;
    left: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.2s;

    &::after {
      content: '';
      background-color: $brand-white;
      height: 1.4rem;
      width: 1.4rem;
      margin-right: .8rem;
      clip-path: polygon(0 0, 100% 50%, 0 100%);
    }
  }

  &__image-container {
    height: 0;
    overflow: hidden;
    padding-top: 66.7%;
    position: relative;
    margin-bottom: 1rem;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__active-arrow {
    $triangle-width: 10rem;
    background-color: $brand-color;
    position: absolute;
    width: $triangle-width;
    height: $triangle-width / 2;
    transform: translateX(-($triangle-width / 2));
    left: 50%;
    bottom: -4rem;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  }

  &:hover {
    transform: translateY(-0.4rem);
  }

  &:hover &__play-button {
    background: $brand-color;
  }
}

.caption {
  display: flex;
  margin-top: 0.2em;
  margin-bottom: 1.7rem;

  transition: all 0.4s;

  &::before {
    content: "";
    display: block;
    border-left: 3px solid $brand-color;
    height: 2em;
    margin: -0.2em 0.5em 0.1em 0.5em;
  }

  &__title {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.4em;
    padding-right: 1.5em;
    color: $brand-white;
  }
}
