.event-bar {
  background-color: $brand-white;

  &__link {
    display: flex;
    font-size: 1.6rem;
    font-weight: 700;
    flex-wrap: wrap;
    color: inherit;
    transition: all .2s;

    &:hover {
      transform: translateY(-1rem);
    }
  }

  &__left {
    background-color: $brand-color;
    text-align: right;
    flex: 0 1 30%;
    padding: 1rem 2rem;
    @include respond(tab-land) { flex: 0 1 20%; }
    @include respond(tab-port) {
      flex: 1 0 100%;
      text-align: left;
    }
  }

  &__right {
    background-color: $brand-grey-darker;
    flex: 1 0;
    padding: 1rem 2rem;
  }
}
