<section id="filter-tags">
  <div class="container talks-filter-container">
    <div class="talks-filter">
      <h1 class="talks-filter__title">events</h1>
      <div class="filter-tags">
        <h4 class="filter-tags__title" >select year</h4>
        <ul class="filter-tags__tags">
          {% for event_name in page.events %}
          {% assign event = site.events | where_exp: "e", "e.id contains event_name" | first %}
          <li class="filter-tags__tag">
            <a href="{{event.url}}">{{ event.short_title }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
