{%- assign unique_id = 'videos-playlist-component-' | append: include.unique_id -%}
{%- assign playlist = site.data.youtube_playlists.playlist_videos[include.playlist_id] -%}




<div id="{{ unique_id }}">
	<videos-playlist
          :playlist-id="playlistId"
					:playlist-json="playlistJson"
          :videos-collection="videosCollection"
          :videos-json="videosJson"
          :people="people">
	</videos-playlist>
</div>

<script>
var playlistId = "{{ include.playlist_id }}"
new Vue({
	beforeMount: function() {
		document.getElementById("noJsVideoLinks{{ unique_id }}").remove()
	},
	data: {
		playlistId: playlistId,
		playlistJson: playlistJson,
		videosCollection: videosCollection,
		videosJson: videosJson,
		people: people
	}
}).$mount('#{{unique_id}}')
</script>
