{%- assign playlist_id = include.playlist_id -%}
{%- assign playlist_items = site.data.youtube_playlists.playlist_videos[playlist_id] -%}
<div class="talk-container">
	{%- for playlist_item in playlist_items -%}

		{%- assign video_id = playlist_item.video_id -%}
		{%- assign youtube_data = site.data.youtube_playlists.videos[video_id] -%}
		{%- assign video = site.videos | where_exp: "v", "v.youtube_video_id == video_id" | first -%}
		{%- assign person = site.people | where_exp: "p", "p.youtube_video_id == video_id" | first -%}
		{%- assign video_url = "https://www.youtube.com/embed/" | append: video_id | append: "?rel=0&amp;showinfo=0&amp;autoplay=1" -%}

		<div class="talk-card">
			<div class="talk-card__link">

				<div data-url="{{ video_url }}" class="talk-card__play-button">&nbsp;</div>

				{%- assign no_of_images = video.images | size -%}
				{%- assign first_image = video.images | first -%}
				{%- if first_image.image != nil -%}

					{%- assign video_image = first_image["image"] | remove_first: "/" -%}
					{%- responsive_image path: video_image
															class: "talk-card__image"
															alt: youtube_data.title
															widths: "300, 600, 900, 1200"
															sizes: "(max-width: 1200px) 33.33vw,
																			(max-width: 900px) 50vw,
																			(max-width: 600px) 100vw,
																			400px"
					-%}


				{%- else -%}
					<img class="talk-card__image"
							 src="{{ youtube_data.thumbnail_url.medium }}"
							 srcset="{{ youtube_data.thumbnail_url.medium }} 320w,
											 {{ youtube_data.thumbnail_url.high }} 480w,
											 {{ youtube_data.thumbnail_url.standard }} 640w,
											 {{ youtube_data.thumbnail_url.maxres }} 1280w"
							 sizes="(max-width: 1200px) 33.33vw,
											(max-width: 900px) 50vw,
											(max-width: 600px) 100vw,
											400px"
							 alt="{{ youtube_data.title }} video"/>
				{%- endif -%}

				<a href="{{ video.url }}" class="caption">
					<h4 class="caption__title">
						{%- if video -%}
							{{ video.title }}{% if person %}: {{ person.name }} {% endif %}
						{%- else -%}
							{{ youtube_data.title }}{% if person %}: {{ person.name }} {% endif %}
						{%- endif -%}
					</h4>
				</a>
			</div>
		</div>
	{%- endfor -%}
</div>
