{% assign schedule = include.schedule %}

{% assign part1 = schedule.part1 %}
{% assign part2 = schedule.part2 %}

<div class="schedule">
  <div class="schedule__column">
    {% for session in part1 %}
      {% if session.time %}
        <h4>{{session.session}} - {{session.time}}</h4>
      {% else %}
        <h4>{{session.session}}</h4>
      {% endif %}

      {% if session.announcer %}
        <h5 class="schedule__announcer">Announcer: {{ session.announcer }}</h5>
      {% endif %}

      {% if session.speakers %}
      <div>
        <ul>
          {% for speaker in session.speakers %}
          <li class="schedule__row">
            {% assign person = site.people | where_exp: "item", "item.id contains speaker.name"  | first %}
            <h5>
              {% if speaker.performer %}
              Performance:
              {% else %}
              {{speaker.speaker_index}}:
              {% endif %}
              <a target="_blank" class="schedule__link" href="{{ person.url }}">{{ speaker.name | replace: '-', ' ' | capitalize_all }}</a>
            </h5>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    {% endfor %}
  </div>

  <div class="schedule__column">
    {% for session in part2 %}
      {% if session.time %}
        <h4>{{session.session}} - {{session.time}}</h4>
      {% else %}
        <h4>{{session.session}}</h4>
      {% endif %}

      {% if session.announcer %}
        <h5 class="schedule__announcer">Announcer: {{ session.announcer }}</h5>
      {% endif %}

      {% if session.speakers %}
      <div>
        <ul>
          {% for speaker in session.speakers %}
          <li class="schedule__row">
            {% assign person = site.people | where_exp: "item", "item.id contains speaker.name"  | first %}
            <h5>
              {% if speaker.performer %}
                Performance:
              {% else %}
                {{speaker.speaker_index}}:
              {% endif %}
              <a target="_blank" class="schedule__link"  href="{{ person.url }}">{{ speaker.name | replace: '-', ' ' | capitalize_all }}</a>
            </h5>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    {% endfor %}
    <img src="/uploads/2018-afterparty-map.jpg" class="schedule__map-image" alt="directions to Marvel Grill">
  </div>
</div>
