{% comment %}
===================
 This isn't needed as person page is already resizing the photos to the
 required sizes
===================
{% for speaker_name in include.speakers %}
	{% assign speaker = site.people | where_exp: "item", "item.id contains speaker_name" | first %}

	{% assign speaker_image = speaker.image | remove_first: "/"  %}
	{% responsive_image template: "_includes/responsive-image.trigger"
											path: speaker_image
											widths: "200, 300, 600, 900"
	%}
{% endfor %}
{% endcomment %}
{% responsive_image template: "_includes/responsive-image.trigger"
										path: "uploads/default-speaker-photo.jpg"
										widths: "200, 300, 600, 900"
%}

{% raw %}
<div id="speakers-component">
	<Speakers :speaker-names="speakerNames" :speaker-json="speakerJSON" :default-image-url="'/uploads/default-speaker-photo.jpg'" :bg-white="bgWhite" :hide-names="hideNames" />
</div>
{% endraw %}




<script>
var speakerNames = {{ include.speakers | jsonify }}
var speakerJSON = {% include json-people.json %}
var bgWhite = false
var hideNames = false
{% if include.bg_white %}
var bgWhite = {{ include.bg_white }}
{% endif %}
{% if include.hide_names %}
var hideNames = {{ include.hide_names }}
{% endif %}
new Vue({
	data: {
		speakerNames: speakerNames,
		speakerJSON: speakerJSON,
		bgWhite: bgWhite,
		hideNames: hideNames
	}
}).$mount('#speakers-component')
</script>
