{% assign videos = include.playlist_id | youtube_videos_from_playlist %}

<div class="card-container talks">
	{% assign sorted = videos | sort: 'position' %}
	{% for video in sorted %}
		{% assign video_url = "https://www.youtube.com/watch?v=" | append: video.video_id %}

		<div class="card talk">
			<a href="{{ video_url }}" class="talk-link" target="_blank">

				<div class="talk__play-button">&nbsp;</div>
				<img class="card__image talk__image" src="{{ video.thumbnail_url }}">

				<div class="caption">

					<h4 class="caption__title">{{ video.title | remove: "TEDxAuckland" | replace_first: ' |', ',' | remove: '|' | strip }}</h4>

				</div>
			</a>
		</div>

	{% endfor %}
</div>
