{%- assign playlist_items = site.data.youtube_playlists.playlist_videos[include.playlist_id] -%}
<div class="talk-container">
	{%- for playlist_item in playlist_items -%}
		{%- assign video = site.data.youtube_playlists.videos[playlist_item.video_id] -%}
		{%- assign talk = site.talks | where_exp: "t", "t.youtube_video_id == playlist_item.video_id" | first -%}
		{%- assign person = site.people | where_exp: "p", "p.youtube_video_id == playlist_item.video_id" | first -%}
		{%- assign video_url = "https://www.youtube.com/embed/" | append: playlist_item.video_id | append: "?rel=0&amp;showinfo=0&amp;autoplay=1" -%}

		<div class="talk-card">
			<div class="talk-card__link">

				<div data-url="{{ video_url }}" class="talk-card__play-button">&nbsp;</div>
				<img class="talk-card__image"
						 src="{{ video.thumbnail_url.medium }}"
						 srcset="{{ video.thumbnail_url.medium }} 320w,
						         {{ video.thumbnail_url.high }} 480w,
										 {{ video.thumbnail_url.standard }} 640w,
										 {{ video.thumbnail_url.maxres }} 1280w"
						 sizes="(max-width: 1200px) 33.33vw,
						 				(max-width: 900px) 50vw,
						 				(max-width: 600px) 100vw,
									  400px"
						 alt="{{ video.title }} video"/>

				<a href="{{ talk.url }}" class="caption">
					{%- if talk.title -%}
					<h4 class="caption__title">{{ talk.title }}: {{ person.name }}</h4>
					{%- else -%}
					<h4 class="caption__title">{{ video.title }}</h4>
					{%- endif -%}
				</a>
			</div>
		</div>
	{%- endfor -%}
</div>
