---
layout: default
---

<header>
	<div class="container">
		<div class="header-details">
			<h2>Ideas worth spreading</h2>
			<p>Checkout our amazing TEDxUTSC talks from the past 5 years</p>

			<p><a href="/#talks" class="button button-outline">All past speakers</a></p>
		</div>
	</div>
</header>

<aside class="youth-callout">
	<div class="youth-callout-header">
		#TEDxYouthAuckland
	</div>
	<div class="youth-callout-header-details">
		TEDXYOUTH@Auckland 2018 | FRIDAY MAY 4TH, 2018 | AOTEA SQUARE
	</div>
</aside>

<section id="speakers" class="speakers">
	<div class="container">
		<h3 class="overhang-heading overhang-heading-effect-only">
			<span class="overhang-heading-background editable">Tedx Youth 2018</span>
			<span class="overhang-heading-foreground editable">speakers</span>
		</h3>
		{% include speakers-grid.html %}
	</div>
</section>

<section id="talks" data-magellan-target="talks" class="talks">
	<div class="container">
		<h3 class="overhang-heading">
			<span class="overhang-heading-background editable">talks</span>
			<span class="overhang-heading-foreground editable"></span>
		</h3>
  </div>
</section>

<section id="events" class="events">
	<div class="container">
		<h3 class="overhang-heading">
			<span class="overhang-heading-background editable">upcoming</span>
			<span class="overhang-heading-foreground editable">events</span>
		</h3>

		<div class="event-container">
			<div class="event-callout">
				<h3>Youth</h3>
				<p class="event-description">TEDxYouth@Auckland is back, bigger and better than before! </p>
				<p>TEDxYouth@Auckland was last held in 2013 however, due to popular demand, the team that produces TEDxAuckland have brought back the youth-focused event in 2018.</p>
				<p>Join 2,000 other young people (14-21 years) for a day of talks from inspiring young people from New Zealand and around the world. The event will spill out of the theatre and into Aotea Square, where event partners will be hosting activations and spreading their ideas worth sharing.</p>
				<p>Please follow the TEDxAuckland Facebook page and join the TEDxYouth@Auckland 2018 Facebook event to be in the know with event updates and speaker announcements.</p>


				<div class="event-callout-footer">
					<p><strong>Grab your tickets now!</strong></p>
					<p>Tickets include access to the event </p>
					<p>and food and beverages in breaks.</p>
					<p><a href="https://www.universe.com/events/tedxyouth-auckland-tickets-auckland-C4ZGY0" target="_blank" class="button">Buy Tickets</a></p>
				</div>
			</div>

			<div class="event-details">
				<p class="date-badge">4th May 2018</p>

				<h4>Aotera Square</h4>
				<address>
					50 Mayoral Dr,<br>
					Auckland,<br>
					New Zealand
				</address>

				<h4>Session</h4>
				<p>TEDxYouth@Auckland was last held in 2013 however, due to popular demand, the team that produces TEDxAuckland have brought back the youth-focused event in 2018.</p>

				<p>Join 2,000 other young people (14-21 years) for a day of talks from inspiring young people from New Zealand and around the world. The event will spill out of the theatre and into Aotea Square, where event partners will be hosting activations and spreading their ideas worth sharing.</p>

				<p>Please follow the TEDxAuckland Facebook page and join the TEDxYouth@Auckland 2018 Facebook event to be in the know with event updates and speaker announcements.</p>
			</div>
		</div>
	</div>
</section>

<section id="about" class="about">
	<div class="container">
		<h3 class="overhang-heading">
			<span class="overhang-heading-background editable">what</span>
			<span class="overhang-heading-foreground editable">about us</span>
		</h3>
		<div class="about-container">
			<div class="about-details">
				<h4>TEDxAuckland</h4>
				<p>Our mission at TEDxAuckland is to make one of the Pacific's leading platforms of great ideas, story telling, creativity, and actionable innovation. To create and foster a sense of community amongst people and organisations who have gathered (and continue to gather) around this event and to provide a cultural focus and impetus for conversation and debate.</p>

				<p>Our 2017 event is on December 1-2 at the Aotea Centre - Join the Facebook event - Over two days, you'll experience over 24 incredible speakers and performers from around the world. Tickets are still available and include food and beverages for both days.</p>

				<h4>Meet the Team</h4>
				<p>In the spirit of idea worth spreading, TEDx is a program of local, self-organised events that bring people together to share a TED-like experience. At a TEDx events, TEDTalks video and live speakers combine to spark deep discussion and connection in a small group.These local, self self-organisedevents are branded TEDx, where x = independently organized TED event. The TED Conference provides general guidance for the TEDx program, but individual TEDx events are self-organised. (Subject to certain rules and regulations)</p>
			</div>

			<div class="about-social">
				<h4>Join our community</h4>
				{% include embed/mailchimp-form.html %}

				<h4>Facebook</h4>
				{% include embed/facebook-feed.html %}
			</div>
		</div>
	</div>
</section>