---
layout: default
title: Partnerships
major_partners:
supporting_partners:
event_partners:
---
{% include upcoming-event-bar.html %}

<section id="partners" class="section">
	<div class="container">
		<h3 class="section-heading editable">partners</h3>


			<div class="partners-details editable">
				<p class="has-red-stripe">
          Something exciting coming soon. If you want to be a part of it email <a href="mailto:partners @ tedxauckland .com">partners@tedxauckland.com</a>.
        </p>
  </div>


{% if page.major_partners %}
<section class="section">
  <div class="container">
    <h4 class="partner-heading editable">principal</h4>
    {% include partners/full-width-blurb-logo-center.html partners = page.major_partners %}
  </div>
</section>
{% endif %}

{% if page.supporting_partners %}
<section class="section">
  <div class="container">
    <h4 class="partner-heading editable">
    	significant
    </h4>
    {% include partners/full-width-blurb.html partners = page.supporting_partners %}
  </div>
</section>
{% endif %}

{% if page.event_partners %}
<section class="section">
  <div class="container">
    <h4 class="partner-heading editable">experience</h4>
    {% include partners/grid.html partners = page.event_partners %}
  </div>
</section>
{% endif %}
</div></section>
