---
layout: default
title: Partnerships
major_partners:
  - vodafone
supporting_partners:
  - bizdojo
event_partners:
---
{% include upcoming-event-bar.html %}

<header class="section">
  <div class="container">
    <h3 class="section-heading editable">Partners</h3>
  </div>
</header>

{% if page.major_partners %}
<section class="section">
  <div class="container">
    <h4 class="partner-heading">principle</h4>
    {% include partners/full-width-blurb-logo-center.html partners = page.major_partners %}
  </div>
</section>
{% endif %}

{% if page.supporting_partners %}
<section class="section">
  <div class="container">
    <h4 class="partner-heading">significant</h4>
    {% include partners/full-width-blurb.html partners = page.supporting_partners %}
  </div>
</section>
{% endif %}

{% if page.event_partners %}
<section class="section">
  <div class="container">
    <h4 class="partner-heading">event</h4>
    {% include partners/grid.html partners = page.event_partners %}
  </div>
</section>
{% endif %}
