---
layout: default
title: Partnerships
major_partners:
  - vodafone
supporting_partners:
  - generator
  - halcyon-digital
  - logitech--creative-technology-partner
  - mevo
event_partners:
  - sound_techniques
  - cloudcannon
  - mamas-brew-shop
  - eighthirty
  - jw-legal
  - qt-auckland
  - opel
---
{% include upcoming-event-bar.html %}

<section id="partners" class="section">
	<div class="container">
		<h3 class="section-heading editable">partners</h3>
		
		
			<div class="partners-details editable">
				<p class="has-red-stripe">TEDxAuckland is made possible through the generous support of our partners.</p>
  </div>


{% if page.major_partners %}
<section class="section">
  <div class="container">
    <h4 class="partner-heading editable">principal</h4>
    {% include partners/full-width-blurb-logo-center.html partners = page.major_partners %}
  </div>
</section>
{% endif %}

{% if page.supporting_partners %}
<section class="section">
  <div class="container">
    <h4 class="partner-heading editable">significant</h4>
    {% include partners/full-width-blurb.html partners = page.supporting_partners %}
  </div>
</section>
{% endif %}

{% if page.event_partners %}
<section class="section">
  <div class="container">
    <h4 class="partner-heading editable">event</h4>
    {% include partners/grid.html partners = page.event_partners %}
  </div>
</section>
{% endif %}
</div></section>