$width: 5.4rem;
$translate-x-distance: $site-width / 2 + 63px;

.back-to-top {
	position: fixed;
	height: $width;
	width: $width;
	bottom: 1.8rem;
	left: 50%;
	transform: translateX($translate-x-distance);
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;

	transition: all 0.2s;

	&.__arrow {
		font-size: 3.6rem;
	}

	&:hover {
		background-color: $brand-grey-darker;
		transform: translateY(-1.1rem) translateX($translate-x-distance);
	}
}
