$width: 5.4rem;
$translate-x-distance: calc($site-width / 2);

.back-to-top {
	height: 6rem;
	width: 6rem;
	background-color: rgba(0, 0, 0, 0.5);

	transition: all 0.2s;

	&--position {
		position: fixed;
		left: 53%;
		bottom: 8rem;
		transform: translateX($translate-x-distance);
		z-index: 100;

		@include respond(section-overflow) {
			left: unset;
			right: 10rem;
			transform: translateX(0);
		}
	}

	&:hover {
		background-color: $brand-grey-darker;
		transform: translateY(-1.1rem) translateX($translate-x-distance);

		@include respond(section-overflow) {
			transform: translateY(-1.1rem) translateX(0);
		}
	}

	&__arrow {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 2rem;
	}
}
