.card-container {
	display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card {
	box-sizing: border-box;
  background-color: $brand-grey-darker;
  font-family: 'Source Code Pro', monospace;
  position: relative;
  margin-bottom: 1rem;
  transition: all 0.2s;

	&__image {
    width: 100%;
    object-fit: cover;
  }

}
