.input-split {
	display: flex;
	margin: 0 -10px;

	> div {
		flex: 1 1 250px;
		margin: 0 10px;
	}
}

input, textarea, select {
	display: block;
	margin: 10px 0 20px;
	padding: 15px;
	width: 100%;
	box-sizing: border-box;
	max-width: 800px;
	border-radius: 2px;
	border: 0;
}

textarea {
	min-height: 200px;
}

.mailchimp-form-content {
	display: flex;

	label {
		display: none;
	}

	input {
		flex: 1;
		align-items: flex-start;
		justify-content: space-between;
	}

	input[type="email"] {
		display: block;
		padding: 15px;
		width: 100%;
		border: 0;
		border-radius: 4px;
		margin: 0;
		box-sizing: border-box;
		font-size: 2.2rem;
		margin-right: 10px;
	}
}

.extended-mailchimp {

	.required-field {
		color: $brand-color;
	}

	.label-btn {
		list-style-type: none;
		padding-bottom: 5px;
		flex: 1 0 21%;

		label {
			color: $brand-white;
			background-color: $brand-color;
			text-align:center;
			padding-right: 10px;
			display:block;
			cursor: pointer;
			list-style-type: none;
			border-radius: 25px;
			padding: .7rem;
			margin: .5rem;
		}

		input {
			margin:4px;
			background-color:#EFEFEF;
			border-radius:4px;
			border:1px solid #D0D0D0;
			overflow:auto;
			opacity: 0;
			text-decoration: underline;
		}

		:hover {
			color: red;
		}

		:checked + label {
			color: red;
			background-color: $brand-white;
			font-weight: bold;
			font-size: 1em;
			border: 1px solid red;
		}
	}

	.input-button-group {
		display: flex;
		flex-wrap: wrap;
	}

	.input-form-field {
		display: block;
		padding: 15px;
		width: 100%;
		border: 0;
		border-radius: 4px;
		margin: 0;
		box-sizing: border-box;
		font-size: 2.2rem;
		margin-right: 10px;
		border: none;
		border-bottom: 2px solid red;
	}

	.mc-field-group {
		padding: 10px;
	}
}
