<section class="footer">
  <div class="grid-container full">
    <div class="grid-x">
      <div class="cell medium-6 large-4 logo">
        <img src="/assets/images/logo.jpg" width="250", height="150" />
      </div>
      <div class="cell medium-6 large-8 follow">
        <div>
          <div class="text">
            Follow us
          </div>

          <div class="logo">
            <a href="https://www.facebook.com/TEDxAuckland/">
              <i class="fab fa-facebook-square fa-2x"></i>
            </a>
          </div>

          <div class="logo">
            <a href="https://www.instagram.com/tedxauckland/">
                <i class="fab fa-instagram fa-2x"></i>
            </a>
          </div>

          <div class="logo">
            <a href="https://twitter.com/tedxauckland">
              <i class="fab fa-twitter-square fa-2x"></i>
            </a>
          </div>

          <div class="logo">
            <a href="https://www.youtube.com/user/TEDxAuckland">
              <i class="fab fa-youtube-square fa-2x"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
