<nav class="navigation top-bar grid-container">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text">
        <img src="/assets/images/logo.png" width="250", height="150" />
      </li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu" data-magellan>
      <li><a href="#speakers" class="link">Speakers</a></li>
      <li><a href="#events" class="link">Events</a></li>
      <li><a href="#talks" class="link">Talks</a></li>
      <li><a href="#about" class="link">About</a></li>
      <li><a href="#contact" class="link">Contact</a></li>
      <!-- <li><a href="#news" class="link">News</a></li> -->
      <li><a href="#" class="button primary" style="color: white">Buy Ticket</a></li>
    </ul>
  </div>
</nav>
