<section id="events" data-magellan-target="events" class="upcoming-events">
  <div class="grid-container">

    <h1 class="section-heading">upcoming events</h1>

    <div class="grid-x">
      <div class="cell small-12 large-6">
        <div class="event-info">
          <div>
            <span class="tedx-title">TEDx</span><span class="youth-title">Youth</span>
          </div>
          <div class="event-info-box">


            <div class="tedx-youth-intro">
              <div class="horizontal-line centred-line"></div>
              <strong>TEDxYouth@Auckland is back, bigger and </br> better than before!</strong>
              <div class="horizontal-line centred-line"></div>

            </div>

            <div class="padded-text">
              <p>
                TEDxYouth@Auckland was last held in 2013 however, due to popular demand, the team
                that produces TEDxAucklandhave brought back the youth-focused event in 2018. </br>
              </p>
              <p>
                Join 2,000 other young people (14-21 years) for a day of talks from inspiring young people
                from New Zealand and around the world. The event will splill out of the theatre and into Aotea
                Square, where event partners will be hosting activations and spreading their their ideas worth sharing. </br>
              </p>

              <p>
                Please follow the TEDxAuckland Facebook page and join the TEDxYouth@Auckland 2018 Facebook event to stay up to date.
              </p>
            </div>

            <p class="tedx-youth-intro bold-red">
              GRAB YOUR TICKETS NOW!
            </p>

            <p class="tedx-youth-intro">
              Tickets include access to the event </br>and food and beverages in breaks
            </p>

            <div class="event-info-buy">
              <a
              href="https://www.universe.com/events/tedxyouth-auckland-tickets-auckland-C4ZGY0"
              target="_blank" class="button primary" style="color: white">Buy Ticket <i class="fas fa-chevron-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>


      <div class="cell small-12 large-6">
        <div class="session-info">
          <div class="event-date">
            4th May 2018
          </div>

          <div class="event-session-text">
            <h3>AOTEA SQUARE</h3>
            50 Mayoral Dr, </br>
            Auckland </br>
            New Zealand </br> </br>

            <h5><strong>Session</strong></h5>

            <p>
              TEDxYouth@Auckland was last held in 2013 however, due to popular demand, the team
              that produces TEDxAucklandhave brought back the youth-focused event in 2018. </br>
            </p>

            <p>
              Join 2,000 other young people (14-21 years) for a day of talks from inspiring young people
              from New Zealand and around the world. The event will splill out of the theatre and into Aotea
              Square, where event partners will be hosting activations and spreading their their ideas worth sharing. </br>
            </p>

            <p>
              Please follow the TEDxAuckland Facebook page and join the TEDxYouth@Auckland 2018 Facebook event to stay up to date.
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
