<section class="what-about-us">
    <div class="grid-container">

        <h1 class="section-heading">what about us</h1>
        <div class="grid-x">
            <div class="cell small-6">
                <div>
                    <div class="vertical-line red"></div>
                    <h3><b>TEDxAuckland</b></h3>
                    <p class="justify">
                        Our mission at TEDxAuckland is to make one of the Pacific's leading platforms of great ideas,
                        story telling, creativity, and actionable innovation. To create and foster a sense of community
                        amongst people and organisations who have gathered (and continue to gather) around this event
                        and to provide a cultural focus and impetus for conversation and debate.
                      </br></br>
                        Our 2017 event is on December 1-2 at the Aotea Centre - Join the Facebook event - Over two days,
                        you'll experience over 24 incredible speakers and performers from around the world. Tickets are
                        still available and include food and beverages for both days.
                    </p>
                </div>

                <div>
                    <div class="vertical-line red"></div>
                    <h3><b>Meet the Team</b></h3>
                    <h5 style="color: red"><b>TEDx</b></h5>
                    <p class="justify">
                      In the spirit of idea worth spreading, TEDx is a program of local, self-organised events that bring people together to
                      share a TED-like experience. At a TEDx events, TEDTalks video and live speakers combine to spark deep discussion and connection
                      in a small group.These local, self self-organisedevents are branded TEDx, where x = independently organized TED event. The TED Conference provides
                      general guidance for the TEDx program, but individual TEDx events are self-organised. (Subject to certain rules and regulations)
                    </p>
                </div>


            </div>
            <div class="cell small-1">
                <div class="vertical-line centred-line"></div>
            </div>

            <div class="cell small-5">
              <div class="fb-page" data-href="https://www.youtube.com/user/TEDxAuckland" data-tabs="timeline" data-width="1200" data-small-header="false" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false"><blockquote cite="https://www.youtube.com/user/TEDxAuckland" class="fb-xfbml-parse-ignore"><a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.youtube.com%2Fuser%2FTEDxAuckland&amp;h=ATP-SIW9kmERqQxm5pyAwZfgfSH4cAQEn-gX9s6KrJWU0zTUDTxXPzj5XDDAPYugRNBVfRayosSgb9o6zCXF4OKiL8WukSVmQ2Sh9HC0Zd5POglNTGHxdo7AeNqXu67RHlB5GmbGTEw" target="_blank" rel="noopener nofollow" data-lynx-mode="asynclazy">TEDxAuckland</a></blockquote></div>
              <div style="padding-top: 5%">
                  <h3>Join our community</h3>
                  <form>
                      <div class="input-group">
                          <input type="text" class="input-group-field" placeholder="Your email address">
                          <div class="input-group-button">
                              <input type="submit" class="button primary" value="SUBSCRIBE">
                          </div>
                      </div>
                  </form>
              </div>
            </div>
        </div>
    </div>
</section>
