<section class="what-about-us">
    <div class="grid-container">

        <h1 class="section-heading">what about us</h1>
        <div class="grid-x">
            <div class="cell small-6">
                <div>
                    <div class="vertical-line red"></div>
                    <h3><b>TEDxAuckland</b></h3>
                    <p class="justify">
                        Our mission at TEDxAuckland is to make one of the Pacific's leading platforms of great ideas,
                        story telling, creativity, and actionable innovation. To create and foster a sense of community
                        amongst people and organisations who have gathered (and continue to gather) around this event
                        and to provide a cultural focus and impetus for conversation and debate.

                        Our 2017 event is on December 1-2 at the Aotea Centre - Join the Facebook event - Over two days,
                        you'll experience over 24 incredible speakers and performers from around the world. Tickets are
                        still available and include food and beverages for both days.
                    </p>
                </div>
            </div>
            <div class="cell small-2">
                <div class="vertical-line centred-line"></div>
            </div>
            <div class="cell small-4 flickr-imgs">
                <div class="grid-y">
                    <div class="cell small-9">
                        <div><span>flickr</span><span class="">see more ></span></div>
                        <div class="grid-x">
                            <div class="cell small-4 grid-y">
                                <div class="cell small-4">
                                    <img src="https://placebear.com/g/150/150" width="100%" height="100%">
                                </div>
                                <div class="cell small-4">
                                    <img src="https://placebear.com/g/150/150" width="100%" height="100%">
                                </div>
                                <div class="cell small-4">
                                    <img src="https://placebear.com/g/150/150" width="100%" height="100%">
                                </div>
                            </div>
                            <div class="cell small-4 grid-y">
                                <div class="cell small-4">
                                    <img src="https://placebear.com/g/150/150" width="100%" height="100%">
                                </div>
                                <div class="cell small-4">
                                    <img src="https://placebear.com/g/150/150" width="100%" height="100%">
                                </div>
                                <div class="cell small-4">
                                    <img src="https://placebear.com/g/150/150" width="100%" height="100%">
                                </div>
                            </div>
                            <div class="cell small-4 grid-y">
                                <div class="cell small-4">
                                    <img src="https://placebear.com/g/150/150" width="100%" height="100%">
                                </div>
                                <div class="cell small-4">
                                    <img src="https://placebear.com/g/150/150" width="100%" height="100%">
                                </div>
                                <div class="cell small-4">
                                    <img src="https://placebear.com/g/150/150" width="100%" height="100%">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="cell auto"></div>
                    <div class="cell small-2"></div>
                    <div>
                        <h3>Join our community</h3>
                        <form>
                            <div class="input-group">
                                <input type="text" class="input-group-field" placeholder="Your email address">
                                <div class="input-group-button">
                                    <input type="submit" class="button primary" value="SUBSCRIBE">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
