
$ted-primary: #ed3624;

$ted-text-white: rgb(255,255,255);

$ted-bg-black: rgb(0,0,0);
$ted-bg-grey: rgb(76,76,76);
$ted-bg-grey-darker: rgb(35,35,35);

$ted-red: rgb(237,55,36);
$ted-grey-black: rgb(13, 13, 13);
$ted-line-grey: rgb(98, 98, 98);
