.hero {

}

.slider-image-1 {
  background-size: cover;
  max-height: 30em;
}

.slider-image-2 {
  background-size: cover;
  max-height: 30em;
}

.slider-image-3 {
  background-size: cover;
  max-height: 30em;
}
