---
layout: default
---

{% if page.image %}
<header class="event-hero">
  {% assign image = page.image | remove_first: "/" %}
  {% responsive_image path: image
                      class: "event-hero__img"
                      widths: "400, 600, 900, 1200, 1800, 2700, 3800"
                      sizes: "100vw"
  %}
</header>
{% endif %}

{% assign page_content = page.content | strip_newlines %}
{% if page_content != "" %}
<section id="more">

	<div class="container event-info__container">

		<div class="event-info__content">
			{{ page.content }}
		</div>

	</div>
</section>
{% endif %}

{% if page.people %}
<section id="speakers" class="section-bg-white">
  <div class="container">
    <h3 class="section-heading section-heading--speakers">speakers</h3>

    {% include speakers.html speakers = page.people hide_names = true %}
  </div>
</section>
{% endif %}

{% if page.major_partners or page.supporting_partners or page.event_partners %}
<section id="partners" class="section-bg-white">
  <div class="container">

    <h3 class="section-heading section-heading--dark section-heading--partners">
      partners
    </h3>

    {% if page.major_partners %}
      {% include partners/major.html partners = page.major_partners %}
    {% endif %}

    {% if page.supporting_partners %}
      {% include partners/supporting.html partners = page.supporting_partners %}
    {% endif %}

    {% if page.event_partners %}
      {% include partners/event.html partners = page.event_partners %}
    {% endif %}

  </div>
</section>
{% endif %}

{% if page.youtube_playlist %}
<section id="talks" class="section-bg-white">
  <div class="container">

    <h3 class="section-heading section-heading--talks">Talks</h3>
    {% include talks.html playlist_id = page.youtube_playlist %}

  </div>
</section>
{% endif %}

{% if page.other_youtube_playlist %}
<section id="talks" class="section-bg-white">
  <div class="container">

    <h3 class="section-heading section-heading--talks">{{ page.other_youtube_playlist_title }}</h3>
    {% include talks.html playlist_id = page.other_youtube_playlist %}

  </div>
</section>
{% endif %}

{% if page.flikr_galleries.first %}
<section>
  <div class="container">
    <h3 class="section-heading section-heading--flickr">flickr</h3>

    {% include flickr.html galleries = page.flikr_galleries %}
  </div>
</section>
{% endif %}
