---
layout: default
---

{% include heros/2018-event-gif.html %}

<section id="more" class="section-bg-white">

	<div class="container event-info__container">

		<div class="event-info__content">
			{{ page.content }}
		</div>

		<div class="event-info__iticket">

			<h1 id="buyTicket" class="event-info__iticket-title">
				Buy Ticket
			</h1>

			<div id="iticket-widget"></div>
			<script type="text/javascript">
			var iTICKET = iTICKET || [];
			iTICKET.push(['widget', {
				containerId: 'iticket-widget',
				key: 'ce8e6ca3-b1d0-410f-8e3b-8d2d04a2cac8',
				autoContainer: false
			}]);

			(function (d, t) {
				var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
				g.src = 'https://www.iticket.co.nz/widget/script';
				s.parentNode.insertBefore(g, s);
			}(document, 'script'));
			</script>

		</div>

	</div>
</section>


{% if page.youtube_playlist %}
<section id="talks" class="section-bg-white">
  <div class="container">

    <h3 class="section-heading section-heading--talks">Talks</h3>
    {% include talks.html playlist_id = page.youtube_playlist %}

  </div>
</section>
{% endif %}

{% if page.other_youtube_playlist %}
<section id="talks" class="section-bg-white">
  <div class="container">

    <h3 class="section-heading section-heading--talks">{{ page.other_youtube_playlist_title }}</h3>
    {% include talks.html playlist_id = page.other_youtube_playlist %}

  </div>
</section>
{% endif %}


{% if page.major_partners or page.supporting_partners or page.event_partners %}
<section id="partners" class="section-bg-white">
  <div class="container">

    <h3 class="section-heading section-heading--dark section-heading--partners">
      partners
    </h3>

    {% if page.major_partners %}
      {% include partners/major.html partners = page.major_partners %}
    {% endif %}

    {% if page.supporting_partners %}
      {% include partners/supporting.html partners = page.supporting_partners %}
    {% endif %}

    {% if page.event_partners %}
      {% include partners/event.html partners = page.event_partners %}
    {% endif %}

  </div>
</section>
{% endif %}

{% if page.event_schedule %}
<section id="schedule" class="section-bg-white">
  <div class="container">
    <h4 class="section-heading section-heading--speakers">Event Schedule</h4>

    {% include schedule.html schedule = page.event_schedule %}
  </div>
</section>
{% endif %}

{% if page.people %}
<section id="speakers" class="section-bg-white">
  <div class="container">
    <h3 class="section-heading section-heading--speakers">speakers</h3>

    {% include speakers.html speakers = page.people bg_white = true hide_names = true %}
  </div>
</section>
{% endif %}

{% if page.food_vendors %}
<section id="food" class="section-bg-white">
	<div class="container">
		<h3 class="section-heading">Food vendors</h3>

		{% include food-vendors.html food_vendors = page.food_vendors %}
	</div>
</section>
{% endif %}

{% if page.flikr_galleries.first %}
<section>
  <div class="container">
    <h3 class="section-heading section-heading--flickr">flickr</h3>

    {% include flickr.html galleries = page.flikr_galleries %}
  </div>
</section>
{% endif %}
