---
layout: default
hero_image: /assets/images/bg-upcoming-events.jpg
---

{% assign name = page.id | remove: "/people/" %}
{% assign speaker_events = site.events | where_exp: "item", "item.people contains name" %}

{% include upcoming-event-bar.html %}

<section>

	<div class="container">
		<h3 class="person__title">{{ page.name }}</h3>
	</div>

	<div class="container person">

		<div class="person__left">

			{% if page.image %}
			{% assign person_image = page.image | remove_first: "/" %}
			{% assign person_alt = "A picture of " | append: page.name %}
		  {% responsive_image path: person_image
		                      class: "person__image"
													alt: person_alt
													widths: "200, 300, 400, 600, 800, 900, 1200"
		                      sizes: "(max-width: 1200px) 33.33vw,
																	(max-width: 600px) 100vw,
																	400px"
		  %}
			{% endif %}

			{% include social-block--links.html person = page %}
			{% include social-block--icons.html person = page %}
			{% include social-block--events.html speaker_events = speaker_events %}

		</div>

		<div class="person__right">
			<div class="content person-content">
				{{ page.description_markdown | markdownify }}

				{% if page.youtube_video_id %}
					<h3 class="person-content__title">Talk</h3>

					<div class="person-content__video">
						<iframe src="https://www.youtube-nocookie.com/embed/{{ page.youtube_video_id }}?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					</div>
				{% endif %}

			</div>
		</div>
	</div>
</section>
