---
layout: default
---
<header class="post-hero">
	<div class="post-hero__text">

		<h3 class="section-heading section-heading--post">{{ page.title }}</h3>

		<div class="post-metadata">

			{% if page.alturl %}
				<p>Article from {{ page.altauthor }}: <a href="{{ page.alturl }}">{{ page.alturl }}</a></p>
			{% else %}
				<div class="author">
					{% if page.author %}
						{% if page.author.email %}
							By <a href="mailto:{{ page.author.email }}">{{ page.author.first_name }} {{ page.author.last_name }} {{ page.author.display_name }}</a>
						{% else %}
							By {{ page.author.first_name }} {{ page.author.last_name }} {{ page.author.display_name }}
							{% endif %}
					{% endif %}
				</div>
			{% endif %}

				<div class="post-date">
					<time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date_to_long_string }}</time>
				</div>
		</div>

	</div>
	<div class="post-hero__image">
		{% if page.image %}
			{% assign post_image = page.image | remove_first: "/" %}
		{% else %}
			{% assign post_image = "/assets/images/default-talk-photo.jpg" | remove_first: "/" %}
		{% endif %}
		{% responsive_image path: post_image
												class: "news-card__image"
												widths: "400, 800, 1200, 1800, 2700"
												sizes: "(max-width: 1800px) 50vw,
																(max-width: 600px) 100vw,
																900px"
		%}
	</div>
</header>

<section id="post" class="post section-bg-white">
	<div class="container post-container">


		<div class="post-content">
			{{ content | replace: '(read_more)', '' | markdownify }}
		</div>

		<nav class="post-navigation">
		  {% if page.previous.url %}
		    <a href="{{ page.previous.url }}">&laquo; {{ page.previous.title }}</a>
		  {% endif %}
		  {% if page.next.url %}
		    <a href="{{ page.next.url }}">{{ page.next.title }} &raquo;</a>
		  {% endif %}
		</nav>
	</div>
</section>
