---
---
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');
@import url("https://use.typekit.net/mse1gkz.css");
@charset 'utf-8';

$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Source Code Pro', monospace;
$hero-font: "Filson Soft", 'Montserrat', sans-serif;
$brand-color: #ed3624;
$brand-grey: #232323;
$brand-grey-lighter: #f9f9f9;
$brand-grey-darker: #131313;
$brand-white: #fff;
$site-width: 1200px;

// Abstract
@import 'abstract/mixins';

// General
@import 'vendor/normalize';
@import 'structure';

// Elements
@import 'ui/button';
@import 'ui/form';
@import 'ui/back-to-top';
@import 'ui/youtube-video-embed';

// Sections
@import 'sections/about';
@import 'sections/countdown';
@import 'sections/food-vendors';
@import 'sections/event-heros';
@import 'sections/thin-hero';
@import 'sections/footer';
@import 'sections/nav';
@import 'sections/partners';
@import 'sections/social-block';
@import 'sections/speakers';
@import 'sections/talks-expanded-preview';
@import 'sections/talks';
@import 'sections/upcoming-event-bar';
@import 'sections/youth-callout';

// Pages
@import 'pages/event';
@import 'pages/events';
@import 'pages/people';
@import 'pages/homepage';
@import 'pages/news';
@import 'pages/person';
@import 'pages/post';
@import 'pages/talk';
@import 'pages/talks';
