---
---
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');

@charset 'utf-8';

$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Source Code Pro', monospace;
$brand-color: #ed3624;
$brand-grey: #232323;
$brand-grey-darker: #131313;
$site-width: 1200px;

// General
@import 'vendor/normalize';
@import 'structure';

// Elements
@import 'ui/button';
@import 'ui/form';
@import 'ui/card';
@import 'ui/back-to-top';

// Sections
@import 'sections/nav';
@import 'sections/header';
@import 'sections/youth-callout';
@import 'sections/about';
@import 'sections/talks';
@import 'sections/speakers';
@import 'sections/partners';
@import 'sections/footer';
@import 'sections/bg-image-block';

// Pages
@import 'pages/homepage';
@import 'pages/talks';
@import 'pages/events';
@import 'pages/event';
@import 'pages/news';
@import 'pages/post';
