---
---
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');

@charset 'utf-8';

$brand-color: #ed3624;
$brand-grey: #232323;
$brand-grey-darker: #131313;

// General
@import 'vendor/normalize';
@import 'structure';

// Elements
@import 'ui/button';
@import 'ui/form';
@import 'ui/facebook';
@import 'ui/card';

// Sections
@import 'sections/nav';
@import 'sections/header';
@import 'sections/youth-callout';
@import 'sections/about';
@import 'sections/events';
@import 'sections/talks';
@import 'sections/speakers';
@import 'sections/footer';
@import 'sections/bg-image-block';

// Pages
@import 'pages/talks';
@import 'pages/events';
@import 'pages/event';
