<h4 class="partner-heading">major</h4>
<div class="partners">
	{% for partner_name in include.partners %}
	{% assign partner = site.partners | where_exp: "item", "item.id contains partner_name"  | first %}
	{% assign partner_logo = partner.partner_logo_image | remove_first: "/" %}
	{% assign partner_alt = partner.id | append: " logo" | remove: "/partners/" | replace: "_", " " %}

	<a class="partner-card partner-card--major" href="{{ partner.link }}" target="_blank">
		{% responsive_image path: partner_logo
												class: "partner-card__image partner-card__image--major"
												alt: partner_alt
												widths: "150, 300, 900"
												sizes: "(max-width: 1200px) 25vw,
																(max-width: 900px) 45vw,
																(max-width: 600px) 98vw,
																200px"
		%}
		<div class="partner-card__paragraph partner-card__paragraph--major">
			{{ partner.content }}
		</div>
	</a>
	{% endfor %}
</div>
