<h4 class="partner-heading">major</h4>
<div class="partners partners--major">
	{% for partner_name in include.partners %}
	{% assign partner = site.partners | where_exp: "item", "item.id contains partner_name"  | first %}
	{% assign partner_logo = partner.partner_logo_image | remove_first: "/" %}
	{% assign partner_alt = partner.id | append: " logo" | remove: "/partners/" | replace: "_", " " %}

	<div class="partner-card partner-card--major">
		<a class="" href="{{ partner.link }}" target="_blank">
			{% responsive_image path: partner_logo
				class: "partner-card__image partner-card__image--major"
				alt: partner_alt
				widths: "150, 300, 900, 1200"
				sizes: "(max-width: 1200px) 25vw,
				(max-width: 600px) 70vw,
				200px"
				%}
			</a>

			<div class="partner-card__paragraph partner-card__paragraph--major">
				{{ partner.content }}
			</div>
	</div>
	{% endfor %}
</div>
