$primary-font: 'Poppins', sans-serif !default;
$secondary-font: 'Source Code Pro', monospace !default;
$hero-font: "Filson Soft", 'Montserrat', sans-serif !default;
$brand-color: #EB0028 !default;
$brand-grey: #232323 !default;
$brand-grey-lighter: #f9f9f9 !default;
$brand-grey-darker: #131313 !default;
$brand-white: #fff !default;
$site-width: 1200px !default;
