html,
body {
	margin: 0;
	padding: 0;
	background: #222;
	color: #fff;
	font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif; //'Quicksand', sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.75;
	scroll-behavior: smooth;
}

a {
	color: $brand-color;
  text-decoration: inherit;
}

.container {
	width: 98%;
	margin: 0 auto;
	max-width: 1200px;
}

.form-container {
	width: 98%;
	margin: 0 auto;
	max-width: 800px;
}

.section-bg-grey {
	background-color: $brand-grey-darker;
}

.section-bg-black {
	background-color: #000;
}

section {
	padding: 40px 0;
	min-height: 300px;

	h3 {
		font-size: 5rem;
		margin: 0 0 10px 0;
	}

	.section-heading {
	  font-size: 6.5em;
	  font-weight: bold;
		margin: 0;
	}

	.overhang-heading {
		position: relative;
		line-height: 1;
		margin-top: 0;

		&.overhang-heading-effect-only {
			margin-top: 160px;
		}

		.overhang-heading-background {
			height: 80%;
			display: block;
			position: absolute;
			bottom: 100%;
			overflow: hidden;
		}

		// force content into foreground for sizing
		.overhang-heading-foreground:after {
			content: "\00a0";
		}
	}
}

h4 {
	font-size: 1.6rem;
	margin: 2rem 0 1.5rem;
}

.has-red-stripe {
	border-bottom: 4px solid $brand-color;
}

.date-badge {
	background: $brand-color;
	display: inline-block;
	padding: 10px 20px;
	font-weight: bold;
	margin: 0;
}

strong {
	color: $brand-color;
	font-weight: bold;
}
