* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
	// Sets 1rem to 10px
	font-size: 62.5%;

  @include respond(tab-land) {
      font-size: 56.25%; // 1 rem = 9px
  }

  @include respond(tab-port) {
      font-size: 50%; // 1 rem = 8px
  }

  // @include respond(big-desktop) {
  //     font-size: 75%; // 1rem = 12px
	// }
}

html,
body {
	margin: 0;
	padding: 0;
	background: $brand-white;
	color: $brand-white;
	font-family: $primary-font;
	line-height: 1.75;
	scroll-behavior: smooth;
}

a {
	color: $brand-color;
  text-decoration: inherit;
}

.container {
	font-size: 1.6rem;
	width: 98%;
	margin: 0 auto;
	max-width: $site-width;
}

.form-container {
	width: 98%;
	margin: 0 auto;
	max-width: 800px;
}

.section-bg-grey {
	background-color: $brand-grey-darker;
}

.section-bg-grey-lighter {
  background-color: $brand-grey-lighter;
  color: #000;
}

.section-bg-white {
	background-color: $brand-white;
	color: #000;
}

.section-bg-black {
	background-color: #000;
}

.center-form {
  display: inline-block;
}

.section-bg-swirl {
  background: url("/assets/images/bg-swirl.png");
  background-position: top;
  background-repeat: no-repeat;
	background-size: cover;
	margin-top: 4rem;

	@include respond(tab-land) {
		margin-top: 0;
	}
}

.section-heading {
	font-size: 12rem;
	font-weight: bold;
	line-height: 1;
	margin: 0;
  max-width: 90vw;

	@include respond(phone) {
		font-size: 5rem;
	}

	&--speakers {
	  transform: translate(-0.74em, .235em);
	  @include respond(section-overflow) { transform: translate(.26em, .235em); }
	}

	&--talks {
	  transform: translate(-0.7em, .235em);
	  @include respond(section-overflow) { transform: translate(.3em, .235em); }
	}

	&--partners {
	  transform: translateX(-0.7em);
	  margin-bottom: 1.8rem;
		@include respond(section-overflow) { transform: translateX(.3em); }
	}


	&--flickr {
	  transform: translate(-0.74em, .3em);
		@include respond(section-overflow) { transform: translate(.3em, .3em); }
	}

	&--post {
	  font-size: 7.2rem;
	}

	&--dark {
		color: $brand-grey-darker;
	}
}

section {
	padding: 4rem 0;
	min-height: 300px;

	@include respond(tab-land) {
		padding: 2rem 0;
	}

	h3 {
		font-size: 5rem;
		margin: 0 0 10px 0;
	}

	.overhang-heading {
		position: relative;
		line-height: 1;
		margin-top: 0;

		&.overhang-heading-effect-only {
			margin-top: 160px;
		}

		.overhang-heading-background {
			height: 80%;
			display: block;
			position: absolute;
			bottom: 100%;
			overflow: hidden;
		}

		// force content into foreground for sizing
		.overhang-heading-foreground:after {
			content: "\00a0";
		}
	}
}

h4 {
	font-size: 1.6rem;
	margin: 2rem 0 1.5rem;
}

.has-red-stripe {
	border-bottom: 4px solid $brand-color;
}

.date-badge {
	background: $brand-color;
	display: inline-block;
	padding: 10px 20px;
	font-weight: bold;
	margin: 0;
}

strong {
	color: $brand-color;
	font-weight: bold;
}
