<section class="hero grid-container full">
  <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
    <div class="orbit-wrapper">
      <div class="orbit-controls">

      </div>
      <ul class="orbit-container">

        <li class="is-active orbit-slide hero-slide hero-background-image-1">
          <div class="grid-container">
            <div class="grid-x">
              <div class="cell medium-6 medium-offset-2">
                <div class="grid-y hero-slide__content">
                  <div class="cell small-3"></div>
                  <div class="cell small-6">
                    <h1>my cool heading</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="orbit-slide hero-slide hero-background-image-2">
          <h1>my cool heading</h1>
        </li>

        <li class="orbit-slide hero-slide hero-background-image-3">
          <h1>my cool heading</h1>
        </li>

      </ul>
    </div>
    <!-- <nav class="orbit-bullets">
      <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
      <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
      <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
    </nav> -->
  </div>
</section>

<section>
  <div style="float: left; padding-left: 30%; padding-right: 5%; padding-top: 10px; background-color: red;">
    #TEDxYouthAuckland
  </div>

  <div style="postion: relative; top: 50%;  padding-right: 15%; padding-top: 10px; background-color: rgb(13, 13, 13);">
    <div style="">
      TEDXYOUTH@Auckland 2018 | FRIDAY MAY 4TH, 2018 | AOTEA SQUARE
    </div>
  </div>

</section>
