<section class="speakers">
  <div class="grid-container">

    <h1 class="section-heading heading-position-speakers">speakers</h1>

    <div class="grid-container">

      <div class="grid-x small-up-2 medium-up-3 large-up-4">
        {% for speaker in site.data.speakers %}
          <div class="speaker-cell cell">

            <div class="speaker-card">
              <img class="speaker-image" src="{{speaker.image}}" alt="">
              <div class="speaker-caption {% if @forloop.first %} speaker-caption--active {% endif %}">
                <span>{{ speaker.name }} -- {{ forloop.index }}</span>
              </div>
            </div>

          </div>
        {% endfor %}
      </div>

    </div>

  </div>
</section>
