<section class="hero grid-container full">
  <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
    <div class="orbit-wrapper">
      <div class="orbit-controls">

      </div>
      <ul class="orbit-container">
        <li class="is-active orbit-slide">
          <img class="orbit-image" src="assets/img/hero/hero-slider-1.jpg" alt="Space">
        </li>
        <li class="orbit-slide">
          <img class="orbit-image" src="assets/img/hero/hero-slider-2.jpg" alt="Space">
        </li>
        <li class="orbit-slide">
          <img src="assets/img/hero/hero-slider-3.jpg" alt="Space">
        </li>
      </ul>
    </div>
    <nav class="orbit-bullets">
      <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
      <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
      <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
    </nav>
  </div>
</section>
