<nav class="navigation top-bar grid-container">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text">
        <img src="/assets/img/logo.jpg" width="250", height="150" />
      </li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><a href="#" class="link">Events</a></li>
      <li><a href="#" class="link">Speakers</a></li>
      <li><a href="#" class="link">News</a></li>
      <li><a href="#" class="link">About</a></li>
      <li><a href="#" class="link">Contact</a></li>
      <li><a href="#" class="button primary" style="color: white">Buy Ticket</a></li>
    </ul>
  </div>
</nav>
