<nav class="navigation top-bar grid-container">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text">Insert Logo here</li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><a href="#">Events</a></li>
      <li><a href="#">Speakers</a></li>
      <li><a href="#">News</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#" class="button primary">Buy Ticket</a></li>
    </ul>
  </div>
</nav>
