<section class="speakers">
  <div class="grid-container">

    <h1 class="section-heading heading-position-speakers">speakers</h1>

    <div class="grid-container">

      <div class="grid-x small-up-2 medium-up-3 large-up-4">
        {{#each speakers as |speaker|}}
          <div class="speaker-cell cell">

            <div class="speaker-card">
              <img class="speaker-image" src="{{speaker.image}}" alt="">
              <div class="speaker-caption {{#if @first}} speaker-caption--active {{/if}}">
                <span>{{speaker.name}} - {{@index}}</span>
              </div>
            </div>

          </div>
        {{/each}}
      </div>

    </div>

  </div>
</section>
