# .envrc is used by https://direnv.net/ to load environment variables

export YOUTUBE_API_KEY=AIzaSyBd1kAA_55cWHXlLzE1RtDB-6xcPcPsIuA
export FLICKR_KEY=d021faec7abe28d46f142dd3679c48b9
export FLICKER_SECRET=543d6864bffddfca

