<header class="event-hero-2018">
	<div class="event-hero-2018__container">

		<div class="event-hero-2018__content">
			<img src="/assets/images/tedx-auckland-logo-black.svg" alt="" class="event-hero-2018__logo">

			<div class="event-hero-2018__details">
				<p><span class="red">Date</span> October 13</p>
				<p><span class="red">Location</span> Shed 10, Queens Wharf</p>
			</div>

			<p class="event-hero-2018__tagline">Tickets available now</p>

			<img src="/assets/images/shed-10.svg" alt="" class="event-hero-2018__shed-10">
		</div>

		<img class="event-hero-2018__img" src="/uploads/off-piste-anim.gif" alt="">

	</div>
</header>
