$speaker-caption-height: 3em;

.speakers {
  background-color: $ted-bg-black;
  background: url('/assets/images/bg-swirl.png') no-repeat top;
  background-size: cover;
}

.heading-position-speakers {
  transform: translate(-0.44em, 0.48em);
}

.speaker-card {
  border: 0.5px solid black;
  position: relative;
  &:hover {
    border-bottom: none;
    .speaker-image {
      filter: grayscale(0%);
    }
    .speaker-caption {
      background-color: $ted-primary;
      font-weight: bold;
    }
  }
}

.speaker-image {
  filter: grayscale(100%);
  transition: filter 0.2s ease-out;
}

.speaker-caption {
  width: 100%;
  height: $speaker-caption-height;
  background: rgba(19,19,19,0.6);
  display: flex;
  align-items: center;
  line-height: normal;
  font-family: 'Source Code Pro', monospace;
  text-transform: uppercase;
  padding: 0em 40% 0 1em;
  position: absolute;
  bottom: 0;
  transition: all 0.2s ease-out;

  &--active {
    background-color: $ted-primary;
    font-weight: bold;
  }

}

// weird selectors to get the specificity right
.speakers {
  .speaker-info {
    &.cell {
      background: $ted-bg-grey-darker;
      border-top: 0.2em solid $ted-primary;
      width: 100%;
      padding-top: 4em;
      padding-bottom: 4em;
    }
  }
}

.speaker-info__heading {
  font-family: 'Source Code Pro', monospace;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: bold;
}

.speaker-info__heading--main {
  border-left: 0.6em solid $ted-primary;
  width: 50%;
}

.speaker-info__heading--social {
  border-left: 0.2em solid white;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.expanded-image-cell {
  display: flex;
  align-items: center;
}

.expanded-image {
  position: relative;
}

.caption-icon {
  color: $ted-primary;
  margin-right: 0.5em;
}

.expanded-image-caption {
  width: 100%;
  height: $speaker-caption-height;
  background: rgba(19,19,19,0.8);
  display: flex;
  align-items: center;
  line-height: normal;
  font-family: 'Source Code Pro', monospace;
  text-transform: uppercase;
  padding: 0em 20% 0 0.5em;
  position: absolute;
  bottom: 0;
}

.social-cell {
  border-left: 0.2em solid white;
  padding-left: 1em;
  height: 100%;
}

.speaker-info__links {
  list-style-type: none;
  margin-left: 0.6em;
}
