---
layout: default
title: About Us
---

<section id="about" class="section-bg-white">
	<div class="container">
		<h3 class="section-heading">about us</h3>

		<div class="about-container">

			<div class="about-details editable">
				<h4 class="has-red-stripe">TEDxAuckland</h4>
				<p>Our mission at TEDxAuckland is to make one of the Pacific's leading platforms of great ideas, story telling, creativity, and actionable innovation. To create and foster a sense of community amongst people and organisations who have gathered (and continue to gather) around this event and to provide a cultural focus and impetus for conversation and debate.</p>

				<p>Our 2017 event is on December 1-2 at the Aotea Centre - Join the Facebook event - Over two days, you'll experience over 24 incredible speakers and performers from around the world. Tickets are still available and include food and beverages for both days.</p>

				<h4 class="has-red-stripe">About TEDxAuckland</h4>
				<p>In the spirit of idea worth spreading, TEDx is a program of local, self-organised events that bring people together to share a TED-like experience. At a TEDx events, TEDTalks video and live speakers combine to spark deep discussion and connection in a small group.These local, self self-organisedevents are branded TEDx, where x = independently organized TED event. The TED Conference provides general guidance for the TEDx program, but individual TEDx events are self-organised. (Subject to certain rules and regulations)</p>
			</div>

			<div class="about-social">
				<h4 class="has-red-stripe">Facebook</h4>
				<div class="about-social__facebook">
					{% include embed/facebook-feed.html %}
				</div>
			</div>
		</div>

		<h3 class="has-red-stripe">Contact us</h3>
	 <div class="center-form">
		 {% include contact.html %}
	 </div>


		<h3 class="has-red-stripe with-padding">Join our community</h3>
		<div class="center-form">
			{% include embed/extended-mailchimp-form.html %}
		</div>
	</div>
</section>
