---
layout: default
title: About Us
---

{% include upcoming-event-bar.html %}

<section id="about" class="section">
	<div class="container">
		<h3 class="section-heading">about us</h3>

		<div class="about-container">

			<div class="about-details editable">
				<h4 class="has-red-stripe">TEDxAuckland</h4>
				<p>Our mission at TEDxAuckland is to <b></b>celebrate new ideas, innovation and diversity with a global audience, aiming to inspire individuals and communities to create a positive impact.</p>
				<h4 class="has-red-stripe">About TEDx</h4>
				<p>In the spirit of ideas worth spreading, TEDx is a program of local, self-organised events that bring people together to share a TED-like experience. At a TEDx events, TEDTalks video and live speakers combine to spark deep discussion and connection in a small group. These local, self self-organised events are branded TEDx, where x = independently organised TED event. The TED Conference provides general guidance for the TEDx program, but individual TEDx events are self-organised. (Subject to certain rules and regulations).</p>
				<h4 class="has-red-stripe">Join The Team</h4>
				<p>Want to help make TEDxAuckland happen? Be part of each event we host and get invited to our regular catch ups and community events.</p>
				<p>We're looking for copywriters, designers, web developers, journalists and marketing people to join our crew. You'll be joining our awesome volunteer team and you can work remotely or at our office.</p>
				<p>If you're interested, either as an individual or a company, please drop us a line at&nbsp;<a target="_blank" href="mailto:info@tedxauckland.com?subject=TEDxAuckland%20Crew%20Application">info @ tedxauckland dot com</a>&nbsp;with a short overview about yourself and the skills you offer.</p>
			</div>

			<div class="about-social">
				<h4 class="has-red-stripe">Facebook</h4>
				<div class="about-social__facebook">
					{% include embed/facebook-feed.html %}
				</div>
			</div>
		</div>
	</div>
</section>

<section id="contact" class="section">
	<div class="container">
		<h3 class="section-heading">Contact us</h3>
		<div class="content content--about editable">
			<p>General inquiries please email us at <span class="highlight"> info @ tedxauckland dot com</span>.</p>
			<p>&nbsp;</p>
			<p>Please present your idea or nominate your person to the email below.</p>
			<p class="--no-margin">What we are looking for</p>
			<ol>
				<li>An Idea</li>
				<li>An Idea</li>
				<li>An Idea</li>
				<li>The reason why it&rsquo;s your Idea</li>
			</ol>
			<p>If you have an amazing story great! There are lots of amazing Storytelling platforms out there and we here at TEDxAuckland are great fans of an awesome story! This is not one of them.</p>
			<p>TEDxAuckland is an Ideas sharing platform to bring together and share new Ideas that will have an impact on the world.</p>
			<p>If you want to submit your IDEA, email it <span class="highlight">ideas @ tedxauckland dot com</span></p>
			<p>You can put a little bit of information about yourself but we are not so much interested in that as your Idea.</p>
		</div>
	</div>
</section>

<section id="mailingList" class="section">
	<div class="container">
		<h3 class="section-heading with-padding">Join our community</h3>
		<div class="center-form">
			{% include embed/extended-mailchimp-form.html %}
		</div>
	</div>
</section>
