---
layout: default
title: All Events
image: /uploads/web-page-banner-3.png
show_speaker_highlights: false
speaker_highlight_title: Speaker Highlights
events:
  - dec-2022-down-to-earth
  - jun-2022
  - may-2021
  - november-2020
  - tedxauckland-tūmanako
  - dining-in-the-dark
  - tedxauckland-2019-05
  - tedxauckland-2018
  - tedxauckland-2017
  - tedxauckland-2016
  - tedxauckland-2015
  - tedxauckland-2014
  - tedxauckland-2013
  - tedxauckland-2012
  - tedxauckland-2010
  - tedxauckland-2009
---
{% assign upcoming_events = site.events | where_exp: "e", "e.upcoming == true" | sort: 'start_date' | reverse %}
{% assign past_events = site.events | where_exp: "e", "e.upcoming == false" | sort: 'start_date' | reverse %}
{% assign upcoming_events_length = upcoming_events | size %}

{% if upcoming_events_length > 0 %}
{% assign event = upcoming_events[0] %}
{% capture nowtime %}{{'now' | date: '%s'}}{% endcapture %}
{% capture eventtime %}{{event.start_date | date: '%s'}}{% endcapture %}

<div class="past-events__header-container" style="background-image: url('{{ page.image }}');height: 56rem;" href="{{ event.url }}">
  <!--<div class="past-events__header">-->
  <!--  <div class="past-events__header-text">-->
  <!--    {% if nowtime < eventtime %}-->
  <!--    <div class="past-events__header-title">Upcoming event</div>-->
  <!--    {% else %}-->
  <!--    <div class="past-events__header-title">Latest event</div>-->
  <!--    {% endif %}-->
  <!--    <div class="past-events__header-lead">{{ event.title }}</div>-->
  <!--  </div>-->
  <!--  <a class="past-events__header-cta" href="{{ event.url }}">Learn More</a>-->
  <!--</div>-->
</div>
{% endif %}

<script>
var events = [
  {% for event in past_events %}

  {% assign event_image = event.event_listing.image | remove_first: "/"  %}
  {% responsive_image template: "_includes/responsive-image.trigger"
										path: event_image
										widths: "200, 300, 600, 900"
  %}

  {
    "id": {{ event.id | jsonify }},
    "url": {{ event.url | jsonify }},
    "event_listing": {{ event.event_listing | jsonify }},
    "title": {{ event.title | jsonify }},
    "start_date": {{ event.start_date | jsonify }}
  }{% if forloop.last != true %},{% endif %}
  {% endfor %}
];
</script>

<section class="past-events__section-container">
  <div class="container">
    <h1 class="event-highlights__heading">Past Events</h1>
    <div id="events-snake-grid" class="past-events__container">
      <events-snake-grid-responsive :items="items" host="">
    </events-snake-grid-responsive></div>
  </div>
</section>

<script>
  new Vue({
    data: {
      items: events
    }
  }).$mount('#events-snake-grid')
</script>

{% if page.show_speaker_highlights %}
<section>
  <div class="container">
    <h1 class="event-highlights__heading">{{ page.speaker_highlight_title }}</h1>
    {% include speakers.html speakers = page.people bg_white = true hide_names = true %}
  </div>
</section>
{% endif %}
