---
layout: default
title: All Events
image: /assets/images/bg-upcoming-events.jpg
---
{% assign upcoming_events = site.events | where_exp: "e", "e.upcoming == true" | sort: 'start_date' | reverse %}
{% assign past_events = site.events | where_exp: "e", "e.upcoming == false" | sort: 'start_date' | reverse %}

<header class="thin-hero" style="background-image: url({{ page.image }})">
</header>

<section class="section-bg-grey">
  <div class="container events-summary">
    <h3 class="events-summary__heading">events</h3>

    <div class="events-summary__upcoming">
      <h4>upcoming <br> events</h4>

      {% for event in upcoming_events %}

        <a href="{{ event.url }}" class="event-info-link">
          <div class="event-info">
            <div class="event-info__top">
              {{ event.title }}
            </div>
            <div class="event-info__bottom">
              {{ event.start_date | date: "%-d %b %Y" }}
            </div>
          </div>
        </a>

      {% endfor %}

    </div>

    <div class="events-summary__past">
      <h4>past <br> events</h4>

      {% for event in past_events limit: 3 %}

        <a href="{{ event.url }}" class="event-info-link">
          <div class="event-info">
            <div class="event-info__top">
              {{ event.title }}
            </div>
            <div class="event-info__bottom">
              {{ event.start_date | date: "%b %Y" }}
            </div>
          </div>
        </a>

      {% endfor %}
    </div>

  </div>
</section>

<!-- <section class="upcoming-events section-bg-black">
  <div class="container">
    <h3 class="upcoming-events_heading">upcoming events</h3>
  </div>
</section> -->
