---
title: Home page
tagline: ...
layout: default
hero_image: '/uploads/tedx-auckland-2018-banner-3.1.jpg'
youtube_playlist: PLcm2pIIAwlDvyvhnABusUFtL7E4k2sM_B
---

<header id="hero" class="homepage-hero">
	<img src="{{ page.hero_image }}" class="homepage-hero__image" alt="">
</header>

{% include upcoming-event-bar.html %}

<section id="talks" class="section-bg-black">
	<div class="container">

		<h3 class="section-heading section-heading--talks">Talks</h3>
		{% include talks.html playlist_id = page.youtube_playlist %}

	</div>
</section>
