---
title:
tagline: ...
layout: default
description: Home of TEDxAuckland
banner:
  image: /uploads/web-page-banner-x3200-2.png
  alt: Upcoming Event
  visible: false
  link: /events/jun-2022/
video_banner_full:
  video_src: /assets/video/2021-theme-video-banner.webm
  poster: /uploads/twitter-banner-for-website.svg
  visible: false
  link: /events/may-2021/
  show_content: false
  content: SATURDAY 22 MAY
video_banner:
  video_src: /assets/video/2021-theme-video-banner.webm
  poster: /uploads/twitter-banner-for-website.svg
  visible: false
  link: /events/may-2021/
  show_content: false
  content: SATURDAY 22 MAY
videos:
  - between-art-and-architecture
  - a-meditation-in-blackness
  - through-the-fire-lessons-from-a-survivor
  - a-beastly-business
  - we-need-to-reset-democracy
  - poetry-on-toe-hair-birds-and-the-fetishization-of-modesty
  - pollinating-pathways-to-a-better-future
  - disrupting-healthcare-without-hurting-it
  - the-loss-of-privilege
  - how-to-build-inclusion-into-the-everyday
  - the-coffin-club-makers-of-fine-and-affordable-underground-furniture
  - our-need-to-create
  - super-power-baby-project
  - disobedient-thinking
  - agile-nation-new-zealands-response-to-terrorism
---

{% include upcoming-event-bar.html %}

{% if page.video_banner_full.visible %}
<header class="video-banner-full">
    <a href="{{ page.video_banner_full.link }}">
      <video class="video-banner-full__video" playsinline autoplay muted loop poster="{{ page.video_banner_full.poster }}" id="bgvid">
        <source src="{{ page.video_banner_full.video_src }}" />
      </video>
      {% if page.video_banner_full.show_content %}
      <div class="video-banner-full__content">
        <h3>{{ page.video_banner_full.content }}</h3>
      </div>
      {% endif %}
    </a>
</header>
{% endif %}

{% if page.video_banner.visible %}
<header class="video-banner">
  <a href="{{ page.video_banner.link }}">
    <div class="video-banner__row">
      <div class="video-banner__left">
        <h3>{{ page.video_banner.content }}</h3>
        <img src="/assets/images/vodafone-logo-rgb-red.svg" alt="Vodafone Logo" />
      </div>
      <div class="video-banner__right">
        <video class="video-banner__video" playsinline autoplay muted loop poster="{{ page.video_banner.poster }}" id="bgvid">
          <source src="{{ page.video_banner.video_src }}" />
          <source src="/assets/video/2021-theme-video-banner.mp4" />
        </video>
      </div>
    </div>
  </a>
</header>
{% endif %}

{% if page.banner.visible %}
<header class="event-hero container">
  <a href="{{ page.banner.link }}">
    {% assign image = page.banner.image | remove_first: "/" %}
    {% responsive_image path: image
                        class: "event-hero__img"
                        widths: "400, 600, 900, 1200, 1800, 2700, 3800"
                        sizes: "100vw"
    %}
  </a>
</header>
{% endif %}

<section id="talks" class="section">
  <div class="container">

    <h3 class="section-heading editable">
    	ideas
    </h3>
    {% include videos.html video_names = page.videos unique_id = "homepage" %}

  </div>
</section>

<section id="blog editable" class="section">
  <div class="container">
    <h3 class="section-heading">blog</h3>
    {% include homepage-blog.html %}
  </div>
</section>

{% assign upcoming_event = site.events | where_exp: "e", "e.upcoming == true" | first %}

{% if upcoming_event.event_schedule %}
<section id="schedule" class="section">
  <div class="container">
    <h3 class="section-heading editable">2018 event schedule</h3>

    {% include schedule.html schedule = upcoming_event.event_schedule %}
  </div>
</section>
{% endif %}

{% if upcoming_event.speakers %}
  <section id="speakers" class="section">
    <div class="container">
      <h3 class="section-heading editable">upcoming speakers</h3>

      {% include speakers.html speakers = upcoming_event.people bg_white = true hide_names = true %}
    </div>
  </section>
{% endif %}

<section id="join" class="section">
  <div class="container">
    <h3 class="section-heading editable">
    	join our community
    </h3>
    <div class="center-form">
      {% include embed/extended-mailchimp-form.html %}
    </div>
  </div>
</section>
