---
title: Homepage
tagline: ...
layout: default
description: hello
image: /assets/images/bg-upcoming-events.jpg
videos:
  - why-your-business-needs-accessibility
  - our-healthcare-systems-are-making-doctors-mentally-ill
  - ihumātao-recognising-indigenous-heritage
  - turning-disability-into-ability
  - 'nanogirl,-my-quest-to-become-a-superhero'
  - fighting-blindness-with-$20-and-a-smart-phone
  - beyond-the-zero-waste-restaurant
  - the-luckiest-boy-in-the-world
  - our-need-to-create
---

{% include upcoming-event-bar.html %}

<section id="talks" class="section">
  <div class="container">

    <h3 class="section-heading editable">
    	ideas
    </h3>
    {% include videos.html video_names = page.videos unique_id = "homepage" %}

  </div>
</section>

<section id="blog editable" class="section">
  <div class="container">
    <h3 class="section-heading">blog</h3>
    {% include homepage-blog.html %}
  </div>
</section>

{% assign upcoming_event = site.events | where_exp: "e", "e.upcoming == true" | first %}

{% if upcoming_event.event_schedule %}
<section id="schedule" class="section">
  <div class="container">
    <h3 class="section-heading editable">2018 event schedule</h3>

    {% include schedule.html schedule = upcoming_event.event_schedule %}
  </div>
</section>
{% endif %}

{% if upcoming_event.speakers %}
  <section id="speakers" class="section">
    <div class="container">
      <h3 class="section-heading editable">upcoming speakers</h3>

      {% include speakers.html speakers = upcoming_event.people bg_white = true hide_names = true %}
    </div>
  </section>
{% endif %}

<section id="join" class="section">
  <div class="container">
    <h3 class="section-heading editable">
    	join our community
    </h3>
    <div class="center-form">
      {% include embed/extended-mailchimp-form.html %}
    </div>
  </div>
</section>
