---
layout: default
title: Links
links:
  - title: TEDxAuckland - Down To Earth
    speaker:
      - EVENT TICKETS & INFO
    url: >-
      https://tedxauckland.com/community/events#/down-to-earth-2022/tickets/purchase
    image:
  - title: A conversation with Hēmi Kelly
    speaker: Blog Interview
    url: >-
      https://tedxauckland.com/a-conversation-with-h%C4%93mi-kelly-growing-a-platform-teaching-and-language-revitalisation/
    image:
  - title: Pollinating pathways to a better future
    speaker: Andrea Reid
    url: https://tedxauckland.com/talks/pollinating-pathways-to-a-better-future
    image:
  - title: What if the way we value businesses is wrong?
    speaker: Paul Adams
    url: >-
      https://tedxauckland.com/talks/what-if-the-way-we-value-businesses-is-wrong/
    image:
  - title: Reimagining paradise with regenerative agriculture
    speaker: Greg Hart
    url: >-
      https://tedxauckland.com/talks/reimagining-paradise-with-regenerative-agriculture/
    image:
  - title: Planetary Accounting - Carbon emissions and beyond
    speaker: Kate Meyer
    url: >-
      https://tedxauckland.com/talks/planetary-accounting-carbon-emissions-and-beyond/
    image:
  - title: How to grow 10,000 kg of food on a 1/4 acre
    speaker: Niva & Yotam Kay
    url: https://tedxauckland.com/talks/how-to-grow-10000-kg-of-food-on-a-acre/
    image:
  - title: Test
    speaker: Test
    url: google.co.nz
    image:
---
<section id="links-header" class="section">
  <div class="container">
    <h3 class="section-heading">TEDxAuckland Links</h3>
    <div class="links-container">
      <h4 class="has-red-stripe">#TEDxAkl together 2022 #bethere</h4>
    </div>
  </div>
</section>

<section id="links-section">
  <div class="container links-list">
    {% for link in page.links limit: 18 %}
    <div class="link-card">
      <div class="link-block anim--lift-up">
        <div class="link-img">
          {% if link.image %}
          <a href="{{ link.url }}">
            <img class="link-img" src="{{ link.image }}" alt="default-talk-photo" />
          </a>
          {% else %}
          <a href="{{ link.url }}">
            <img class="link-img" src="/assets/images/default-talk-photo.jpg" alt="default-talk-photo" />
          </a>
          {% endif %}
        </div>
        <div class="link-button">
          <a class="link-font-1" href="{{ link.url }}">{{ link.speaker }}</a>
          <a class="link-font-2" href="{{ link.url }}"> | {{ link.title }}</a>
        </div>
        
      </div>
    </div>
    {% endfor %}
  </div>
</section>



