---
layout: default
title: News
---
{% include upcoming-event-bar.html %}

<header class="blog-header section">
  <div class="container">
    <h3 class="section-heading editable">Blog</h3>
  </div>
</header>

{% assign highlight = site.posts[0] %}
<section id="highlights" class="section">
  <a href="{{ highlight.url }}">
    <div class="container">
      <div class="highlight-container card--outline anim--lift-up">
        <div class="highlight__image-column">
          {% if highlight.image %}
          {% assign highlight_image = highlight.image | remove_first: "/" %}
          {% else %}
          {% assign highlight_image = "/assets/images/default-talk-photo.jpg" | remove_first: "/" %}
          {% endif %}
          {% responsive_image path: highlight_image
                              class: "highlight_img"
                              widths: "600, 800, 1200, 1800"
                              sizes: "(max-width: 1200px) 50vw,
                              (max-width: 1200px) 50vw,
                              (max-width: 900px) 100vw,
                              600px"
          %}
        </div>

          <div class="highlight__content-column">
            <h4 class="highlight-heading">Highlight</h4>
            {% assign highlight = site.posts[0] %}

            <div class="highlight-info">
              <h4 class="highlight-info__title">{{ highlight.title }}</h4>
              <div class="highlight-info__bar">
                <i class="far fa-calendar-alt"></i>
                <time datetime="{{ highlight.date | date: "%Y-%m-%d" }}">
                  {{ highlight.date | date_to_long_string }}
                </time>
              </div>
            </div>

            <div class="highlight-content content">

              {%- if highlight.content contains '(read_more)' -%}

              {{ highlight.content | split: '(read_more)' | first }}

              {%- else -%}

              {%- capture content_highlight -%}
              {%- assign content_array = highlight.content | split: '.' -%}
              {%- for item in content_array limit: 5 -%}
              {{ item }}
              {%- endfor -%}
              {%- endcapture -%}

              {{ content_highlight | markdownify }}

              {%- endif -%}
            </div>
          </div>
      </div>
    </div>

  </a>
</section>

<section id="posts" class="section">
  <div class="container">

    <div class="news-card-container">

      {% assign our_posts = site.posts | where_exp: "p", "p.categories contains 'our-news'" %}
      {% for post in our_posts limit: 9 offset: 1 %}
        <div class="news-card card--outline anim--lift-up">
          <a href="{{ post.url }}">

            {% if post.image %}
              {% assign post_image = post.image | remove_first: "/" %}
            {% else %}
              {% assign post_image = "/assets/images/default-talk-photo.jpg" | remove_first: "/" %}
            {% endif %}
            {% responsive_image path: post_image
                                class: "news-card__image"
                                widths: "400, 800, 1200"
                                sizes: "(max-width: 1200px) 32vw,
                                        (max-width: 900px) 47vw,
                                        (max-width: 600px) 97vw,
                                        200px"
            %}

            <div class="news-card__content">

              <h4 class="news-card__content-title">{{ post.title }}</h4>

              <p class="news-card__content-time">
                <i class="far fa-calendar-alt"></i>
                <time datetime="{{ post.date | date: "%Y-%m-%d" }}">
                  {{ post.date | date_to_long_string }}
                </time>
              </p>
              {{ post.content | strip_html | truncate: 200 }}
            </div>
          </a>
        </div>
      {% endfor %}

    </div>


    <p><a href="/news/archive">Go to archive</a></p>

  </div>
</section>
