---
layout: default
permalink: /news/archive/
---

<header class="blog-header">
  <div class="container">
    <div class="extra-padding">
      <h3 class="blog-header__title">Blog Archive</h3>
      <p class="blog-header__paragraph editable">
        Here we will post news and information about the event as well as discuss topics, themes, ideas and local events and matters we think you may be intereste in. We hope you enjoy our articles and would love to hear your thoughts in the comments!
      </p>
    </div>
  </div>
</header>

<section id="posts">
  <div class="container">

    <div class="card-container news-card-container news-card-container--archive">

      {% for post in site.posts offset: 10 %}
        <div class="card news-card">
          <a href="{{ post.url }}">

            {% if post.image %}
            <img src="{{ post.image }}">
            {% endif %}

            <div class="news-card__content">

              <h4>{{ post.title }}</h4>

              <p>
                <time datetime="{{ post.date | date: "%Y-%m-%d" }}">
                  {{ post.date | date_to_long_string }}
                </time>
              </p>
              {{ post.content | strip_html | truncate: 200 }}
            </div>
          </a>
        </div>
      {% endfor %}
    </div>


    <p><a href="/news/archive">Go to archive</a></p>

  </div>
</section>

{% include back-to-top.html %}
