---
layout: default
title: Partnerships
major_partners:
  - vodafone
supporting_partners:
  - bizdojo
event_partners:
image: /assets/images/bg-upcoming-events.jpg
---

<header class="hero hero__talks" style="background-image: url({{ page.image }})">
</header>

<section id="{{ event.short_title }}" class="section-border--dashed">
  <div class="container">

    <h3 class="section-heading">Partners</h3>

    {% if page.major_partners %}
    <h4 class="partner-heading">principle</h4>
    {% include partners/full-width-blurb-logo-center.html partners = page.major_partners %}
    {% endif %}

    {% if page.supporting_partners %}
    <h4 class="partner-heading">significant</h4>
    {% include partners/full-width-blurb.html partners = page.supporting_partners %}
    {% endif %}

    {% if page.event_partners %}
    <h4 class="partner-heading">event</h4>
    {% include partners/grid.html partners = page.event_partners %}
    {% endif %}

  </div>
</section>
