---
layout: default
title: Partnerships
events:
  - tedxauckland-2018
  - tedxauckland-2017
image: /assets/images/bg-upcoming-events.jpg
---

<header class="hero hero__talks" style="background-image: url({{ page.image }})">
</header>

<section id="filter-tags" class="{% cycle "section-bg-grey", "section-bg-black" %}">
  <div class="container talks-filter-container">

    <div class="talks-filter">
      <h1 class="talks-filter__title">partners</h1>

      <div class="filter-tags">
        <h4 class="filter-tags__title" >select event</h4>

        <ul class="filter-tags__tags">
          {% for event_name in page.events %}
          {% assign event = site.events | where_exp: "e", "e.id contains event_name" | first %}

          <li class="filter-tags__tag">
            <a href="#{{event.short_title}}">{{ event.short_title }}: {{ event.tagline }}</a>
          </li>

          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>

{% for event_name in page.events %}
{% assign event = site.events | where_exp: "e", "e.id contains event_name" | first %}

  <section id="{{ event.short_title }}" class="section-border--dashed">
  	<div class="container">

  		<h3 class="section-heading">{{ event.short_title }}</h3>

      {% if event.major_partners or event.supporting_partners or event.event_partners %}

        {% if event.major_partners %}
          {% include partners/major.html partners = event.major_partners %}
        {% endif %}

        {% if event.supporting_partners %}
          {% include partners/supporting.html partners = event.supporting_partners %}
        {% endif %}

        {% if event.event_partners %}
          {% include partners/event.html partners = event.event_partners %}
        {% endif %}

      {% endif %}

    </div>
  </section>
{% endfor %}
