---
layout: page
---

<section class="people">
  <h3>Speakers</h3>
  {% assign people = site.people | sort: "name" %}
  {% assign events = site.events %}

  {% for person in people %}
    <h4 class="has-red-stripe"><a href="{{ person.url }}">{{ person.name }}</a></h4>
    {% assign person_tag = person.id | remove: '/people/' %}

    {% for event in events %}
      {% if event.people contains person_tag %}
        <a class="button" href="{{event.url}}">{{ event.short_title }}</a>
      {% endif %}
    {% endfor %}
  {% endfor %}
</section>
