---
layout: default
title: All Talks
events:
  - tedxauckland-2019-05
  - tedxauckland-2018
  - tedxauckland-2017
  - tedxauckland-2016
  - tedxauckland-2015
  - tedxauckland-2014
  - tedxauckland-2013
  - tedxauckland-2012
  - tedxauckland-2010
  - tedxauckland-2009
other_playlists:
  - PLcm2pIIAwlDuXUwTNyTkiB0EFsi8tG5pV
---
{% include playlist_videos_data.html %}

<section id="filter-tags" class="section">
  <div class="container talks-filter-container">

    <div class="talks-filter">
      <h1 class="talks-filter__title">event</h1>

      <div class="filter-tags">
        <h4 class="filter-tags__title" >select your category</h4>

        <ul class="filter-tags__tags">
          {% for event_name in page.events %}
          {% assign event = site.events | where_exp: "e", "e.id contains event_name" | first %}

          <li class="filter-tags__tag">
            <a href="#{{event.short_title}}">{{ event.short_title }} {{ event.tagline | prepend: ": " }}</a>
          </li>

          {% endfor %}

          <li class="filter-tags__tag">
            <a href="#other_talks">Other Talks</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

{% include upcoming-event-bar.html %}

{% for event_name in page.events %}
{% assign event = site.events | where_exp: "e", "e.id contains event_name" | first %}

  <section id="{{ event.short_title }}" class="section">
  	<div class="container">

  		<h3 class="section-heading">{{ event.short_title }}</h3>
      {% include playlist_videos.html playlist_id = event.youtube_playlist unique_id = forloop.index %}

    </div>
  </section>
{% endfor %}


{% for list in page.other_playlists %}
  <section id="other_talks" class="section">
  	<div class="container">

  		<h3 class="section-heading">Other Talks</h3>
      {% include playlist_videos.html playlist_id = list %}

    </div>
  </section>
{% endfor %}
