---
layout: default
title: Ticket Give Away
image: /assets/images/bg-upcoming-events.jpg
---
{% include upcoming-event-bar.html %}

<header class="hero hero__talks" style="background-image: url({{ page.image }})">
</header>

<section id="join" class="section">
	<div class="container">
		<h3 class="section-heading">join us</h3>

		<div class="join-container">
      <div class="join-details editable">
        <h4 class="has-red-stripe">Mailing List</h4>
        <p>Stay up to date with TEDxAuckland by subscribing to our mailing list. This way, you&rsquo;ll hear the latest about our upcoming events as well as get notified when we share new content.</p>
      </div>
    </div>
  </div>
</section>

<section>
	<div class="container">
		<div class="center-form">
			{% include embed/mailchimp-form.html %}
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="join-container">
			<div class="join-details editable">
				<h4 class="has-red-stripe">Have an idea?</h4>
				<p>For general inquiries, please email us at <a href="mailto:info@tedxauckland.com">info@tedxauckland.com</a></p>
				<p>TEDxAuckland is an idea-sharing platform set on sharing innovations with a global audience. If you know someone who belongs on the TEDxAuckland stage, then we want to hear from you!</p>
				<p>Please present your idea or nominate a speaker by emailing <a href="mailto:ideas@tedxauckland.com">ideas@tedxauckland.com</a></p>
				<p>We ask that you be clear on the <em>idea</em> and enlighten us on how it will inspire individuals and have a positive impact on our world. TEDxAuckland is not a storytelling platform, which means we are most interested in hearing your idea.</p>
				<h4 class="has-red-stripe">Join the TEDxAuckland Team</h4>
				<p>Want to help make TEDxAuckland happen? This is your opportunity to be part of each event we host as well as our regular catch ups and community events.</p>
				<p>We're looking for web developers, designers, copywriters, journalists and more to join our team of volunteers.</p>
				<p>If you're interested, either as an individual or a company, get in touch with us at <a href="mailto:info@tedxauckland.com">info@tedxauckland.com</a> with a short overview about yourself and the skills you offer.</p>
			</div>
    </div>
  </div>
</section>
