header {
	background: grey;
	color: #fff;
	padding: 120px 10px;

	h2 {
		font-size: 6.5rem;
		margin: 0;
		text-transform: lowercase;
	}

	p {
		font-size: 2rem;
	}

	.header-details {
		max-width: 500px;
		width: 100%;
	}
}